[2013-06-04 02:26] shaun-edwards opened #1 "Address correct "const" usage in simple message library."
connection.init(char _) => .init(const char_)

I don't see why the IP address in the different client init functions shouldn't be const. I'm having to fix it in my code and there's a hack in joint_trajectory_interface.cpp:60 which also painfully addresses it.

2 participants
JeremyZoss commented 7 days ago

Agreed. There are many other areas in the core libraries that could probably be improved fo

[2013-06-04 02:28] shaun-edwards opened #2 "UdpSocket constructor doesn't initialize isConnected"
this->setConnected(false);

Can be found in tcp_socket.cpp:59 but is absent at udp_socket.cpp:58
I was having difficulty having my communication connect properly under UDP but it worked fine using TCP. Adding this line to the UdpSocket constructor fixed the issue. I'm guessing this is a bug.

[2013-06-04 02:28] shaun-edwards opened #3 "Migrate moveIt packages to moveit_simple_controller_manager"
MoveIt users have recently released a new controller manager plugin: moveit_simple_controller_manager, intended to be used for robots that do not require complex controller_manager capabilities.

Currently, we use the pr2_controller_manager, with the parameter use_controller_manager set to false. This new plugin would be a cleaner solution, and would reduce an unnecessary dependency on pr2 package

[2013-06-04 02:35] shaun-edwards commented on #2
The UDP sockets were never working right.  I expect you might find some additional bugs.  Feel free to update the UDP socket files as you see fit.  I don't think anybody ever used them (they were always experimental).

[2013-06-04 08:55] gavanderhoorn opened #4 "Error compiling simple_message package on Hydro"
Compilation with `catkin_make` fails with:

[code]

Seems like the `industrial_msgs` target isn't built before `simple_message`. Invoking `catkin_make --pkg industrial_msgs` manually lets a subsequent `catkin_make` succeed.

On groovy this works as expected (ie: first `industrial_msgs` is built, then `simple_message`).

[2013-06-04 08:59] gavanderhoorn opened #5 "Install target fails for industrial_deprecated"
Invoking `catkin_make --pkg industrial_deprecated install` fails with:

[code]

[2013-06-04 09:01] gavanderhoorn opened #6 "Install target fails for industrial_robot_simulator"
Invoking `catkin_make --pkg industrial_robot_simulator install` fails with:

[code]

[2013-06-04 09:14] gavanderhoorn opened #7 "Building industrial_core fails with catkin complaining about a 'non-homogeneous' workspace"
Seems the `industrial_core` metapackage is missing a `CMakeLists.txt`, which then leads it to complain about a 'non-homogeneous' workspace (which is odd, considering the non-present `CMakeLists.txt` causes just a warning earlier, not an error).

Copying the generated `CMakeLists.txt` to `industrial_core/industrial_core` solved it.

Note: this only failed on the first invocation of `catkin_make` (i

[2013-06-04 09:15] gavanderhoorn opened #8 "Packages missing install targets"
As per issue title. Not sure if intentional or not.

Packages missing one:
- simple_message
- industrial_robot_client
- industrial_msgs
- industrial_utils

[2013-06-04 12:28] gavanderhoorn commented on #4
Not sure if this is a package dependency issue or not.

Forcing a non-parallel-build (`export ROS_PARALLEL_JOBS=-j1`) makes the build succeed (similar to '[catkin_make started failing to generate .h from .msg](http://answers.ros.org/question/62092/catkin_make-started-failing-to-generate-h-from-msg/)').

Adding an explicit dependency on the exported targets of `industrial_msgs` (as suggested by joq

[2013-06-04 15:35] gavanderhoorn opened #10 "Targets depending on industrial_robot_client link with both swap and non-swap libraries"
Seems to be due to the `catkin_package(... LIBRARIES ..)` statement in the `CMakeLists.txt` for `industrial_robot_client`.

`simple_message` has a similar problem, resulting in one target linking with both `libsimple_message.so` and `libsimple_message_bswap.so`.

[2013-06-05 01:31] shaun-edwards commented on #10
This seems like the linker would complain about multiple definitions of the same functions/classes.   Is this not the case.  The port from rosbuild to catkin was not straightforward for these libraries.  It's probably worth going back to the rosbuild versions and finding the right catkin equivalent.  I'm not sure how to label this?  Does this break anything or is it something we can live with?

[2013-06-05 01:42] shaun-edwards commented on #8
The install targets were left out because they aren't in the rosbuild migration guide.  Is this holding up development or is it just a problem for deployment?

[2013-06-05 06:29] gavanderhoorn commented on #7
Seems to be fixed then (in d27d0ff).

[2013-06-05 06:29] #7 closed, assigned to nobody

[2013-06-05 12:56] gavanderhoorn commented on #8
Not sure, I'm still trying to figure out the interaction between catkin packages at compile / build time and how this changes for binary distributions. Missing install rules might become a problem when trying to release the packages.

I just wanted to report my observation.

[2013-06-05 13:01] gavanderhoorn commented on #10
re: multiple definitions: I haven't seen any errors, but the resulting binaries show both the non-swap and the swap versions of the libraries in their `ldd` output.

As for a solution: the rosbuild `CMakeLists.txt` avoid exporting any libraries, and have a comment explaining that dependent packages should explicitly link the version they require. The binaries in the `fanuc_common` package do exact

[2013-06-07 03:06] #4 closed, assigned to nobody

[2013-06-10 16:28] gomezc opened #12 "CMake Error for simple_message on "add_dependencies""
Upon cloning the industrial_core repo into my catkin workspace, catkin_make gave the following error:

<pre><code>CMake Error at industrial_core/simple_message/CMakeLists.txt:97 (add_dependencies):
  add_dependencies called with incorrect number of arguments</code></pre>

The error appeared three times for the three add_dependencies lines, one example below:

<pre><code>add_dependencies(simple_mes

[2013-06-11 06:53] gavanderhoorn commented on #12
AFAICT the fix for the referenced #4 is ok, it just seems to depend on a >= version of `genmsg` being installed (>= 0.4.18 to be exact). I'm not sure, but I'm almost certain I tested it on my groovy installation before submitting the pull request. I'll check the version(s) of `genmsg` I have here in a minute.

Comment on specific version of `genmsg`: [raptort3000/ublox_catkin/pull/1](https://githu

[2013-06-11 13:44] gavanderhoorn commented on #12
Just checked:

[code]

Seems like the current groovy version of `genmsg` is older than the hydro version, hence the error message.

[2013-06-11 16:06] shaun-edwards commented on #12
I'm hesitant to create a hydro branch since it would require constant syncing to the groovy branch (which might be easier in git, but was painful in svn).  Most developers are still on groovy since it is stable and there wasn't a clear reason to move to hydro (especially with no official release date in sight).  You appear to be using Hydro.  Can you make a case for switching sooner rather than la

[2013-06-11 17:31] gavanderhoorn commented on #12
Well, I don't think I have a case 'for Hydro' other than that it seems prudent to start supporting it as soon as possible. As soon as the catkinization of industrial_core is good enough, supporting Hydro shouldn't be too hard. Keeping the branches synced shouldn't be that much of a problem.

If we're not going to support Hydro in this repository, you should edit the readme: it currently states tha

[2013-06-12 15:07] shaun-edwards commented on #12
Christina,

Can you move ahead with creating a groovy-dev and hydro-dev branch in this repo.  Make sure the CMakeLists has the appropriate changes in each.  We will use this as an experiment to determine how good git is at managing two development paths.

We may want to consider deleting the master branch since this causes confusion, but we will wait for that change.

[2013-06-12 15:10] gavanderhoorn commented on #12
May I suggest naming the branches `groovy-devel` and `hydro-devel`? Just to be more in-line with the rest of the ROS repositories.

[2013-06-12 15:18] shaun-edwards commented on #12
I'm not tied to the name.  We used -dev in the subversion repo.  We will leave it up to Christina to decide.

[2013-06-13 18:14] gomezc commented on #12
Ok groovy-devel and hydro-devel branches created. The groovy branch has the fix that I did (${PROJECT_NAME}_gencpp) and the hydro branch has the preferred method (${PROJECT_NAME}_EXPORTED_TARGETS).

[2013-06-13 18:14] #12 closed, assigned to nobody

[2013-06-18 08:28] gavanderhoorn opened #13 "robot_status.h lists fields in the wrong order"
The header lists them in a different order than the respective `::load(..)` and `::unload(..)` methods use. This is rather confusing, as other headers list the fields in the same order as those methods.

[2013-07-07 14:52] gavanderhoorn opened #15 "deprecated conversions to 'char constant' in simple_message"

[2013-07-07 15:03] gavanderhoorn opened #17 "Remove master branch"
IMHO it's confusing to have a `master` branch, as well as a `hydro-devel`. The latter is basically `master`. Removing `master` would also remove one redundant merge target for every commit against `hydro-devel`.

[2013-07-07 15:45] gavanderhoorn commented on #1
See also #15 (sorry about that, didn't see this one).

[2013-07-24 13:03] gavanderhoorn commented on #13
This has been merged into `hydro-devel` and `groovy-devel`.

[2013-07-24 13:03] #13 closed, assigned to nobody

[2013-07-24 13:05] gavanderhoorn commented on #6
After reading the documentation on Catkin: does this package actually need a `setup.py`? I'm not a python developer, so I could be misinterpreting things, but IIUC all an install target needs to do is copy the one `.py` file to the package bin dir.

[2013-07-24 13:07] gavanderhoorn commented on #5
Just as in #6: does this package need a `setup.py`? The single python script should just be runnable with `rosrun`. Wouldn't copying it to the package bin dir suffice?

[2013-07-24 13:49] gavanderhoorn commented on #17
This seems to have been (silently) implemented. Closing as fixed.

[2013-07-24 13:49] #17 closed, assigned to jrgnicho

[2013-07-24 14:39] gavanderhoorn opened #19 "Error compiling simple_message package on Groovy"
This is identical to #4, but under Groovy. Checking out the `groovy-devel` branch and trying to `catkin_make` it results in the exact same errors as under Hydro.

Seems `genmsg` has been updated on Groovy to also require the use of `pkg_name_EXPORTED_TARGETS`.

Related issue on [`ros/genmsg`](https://github.com/ros/genmsg/issues/26).

[2013-07-24 20:46] #15 closed, assigned to nobody

[2013-07-24 20:58] #19 closed, assigned to nobody

[2013-07-24 20:59] jrgnicho commented on #5
This solutions has been applied to the groovy-devel branch only and should be applied to the hydro-devel branch

[2013-07-24 20:59] #5 closed, assigned to jrgnicho

[2013-07-24 21:01] jrgnicho commented on #6
This solution was applied to the groovy-devel branch and should probably be merged into the hydro-devel branch

[2013-07-24 21:01] #6 closed, assigned to jrgnicho

[2013-07-24 21:10] jrgnicho opened #22 "Merge solution to issue #5 applied to groovy-devel branch into hydro-devel"
Invoking catkin_make --pkg industrial_deprecated install fails.

[2013-07-24 21:11] jrgnicho opened #23 "Merge solution to issue #6 applied to groovy-devel branch into hydro-devel"
Invoking "catkin_make --pkg industrial_robot_simulator install" fails

[2013-07-24 21:23] shaun-edwards commented on #10
The way we link to specific libraries in rosbuild was non-standard.  In fact, the convention is that a package exports a single library.  Because we cannot follow this convention, we specifically identify the library we want to link against.  It would be nice to do something similar in catkin (I think this is what gavanderhoorn is alluding to in his comment above).

[2013-07-25 06:41] liborw opened #25 "Number of received bytes differ from message length (SmplMsgConnection::receiveMsg)."
When testing the motoman driver, I got this error:

[code]

When started with DEBUG logging level the [ouput](https://gist.github.com/liborw/6077363).

So, the problem is that the size of the ByteArray returned by `receiveBytes` is shorter that the expected message length (that should be checked). I have looked on the packets using Wireshark and they seems to be ok.

[2013-07-25 06:44] gavanderhoorn commented on #25
'looked at the packets using Wireshark': did you use [`packet-simplemessage`](https://github.com/gavanderhoorn/packet-simplemessage)?

Could you attach / upload a Wireshark capture somewhere?

[2013-07-25 08:30] liborw commented on #25
Yes I have, the file can be downloaded [here](http://clopema.iti.gr/repository/data/public/b70a5b6da15027421022e5bd398a84a3.php?lang=en), but it will expire in one day.

[2013-07-25 08:34] liborw commented on #25
I have an update on this, adding a `MSG_WAITALL` flag to the `RECV` command in simple_message/src/socket/tcp_socket.cpp:84 solved the problem. Is there a reason not to have this flag there?

[2013-07-25 08:42] gavanderhoorn commented on #25
Ah, this might then be related to [swri-ros-pkg/issues/23](https://code.google.com/p/swri-ros-pkg/issues/detail?id=23).

---

Yes, the first few `simple_message` packets arrive over 2 TCP frames (packet 786 in your capture). Seems the deserialisation step is confused by this.

[2013-07-25 18:46] shaun-edwards commented on #23
Fixed in pulll request #24

[2013-07-25 18:46] #23 closed, assigned to shaun-edwards

[2013-07-25 18:47] shaun-edwards commented on #22
Fixed in pulll request #24

[2013-07-25 18:47] #22 closed, assigned to shaun-edwards

[2013-07-25 19:30] JeremyZoss commented on #25
I think this assessment is probably correct.

While Libor's fix probably solves this issue in the short-term, I think we should hold off on pushing this change to the public repository.  This change causes the socket code to wait forever until the requested bytes are read.  In the event of datastream errors, this might lead to long waits with no errors.  A better solution would be to properly hand

[2013-07-25 19:35] gavanderhoorn commented on #25
One idea might be to utilise the following pattern:
- read all bytes currently in the receive buffer (a single `recv(..)`)
- copy those bytes to a internal buffer
- if `len(my_buffer) >= nr_of_bytes_needed: handle(my_buffer[:nr_of_bytes_needed])`
- remove bytes from `my_buffer`
- goto 'start'

Fairly standard. If there aren't enough bytes, wait for them to come in the next `recv(..)` (but with a c

[2013-07-25 19:54] JeremyZoss commented on #25
That's mostly what I was thinking.  Here are two possible variations:
  1) only read up to the number of expected bytes (not full receive buffer)
    - this prevents the need to shift bytes in `my_buffer`
    - but potentially means slightly more reads of the socket buffers (not very expensive)

  2) use [SO_RCVTIMEO](http://stackoverflow.com/questions/2876024/linux-is-there-a-read-or-recv-from-so

[2013-07-25 19:54] shaun-edwards commented on #25
This is probably a good solution, but how would we test it?  Has anybody seen this error before?  Is there anything special about Libor's setup that would cause this?  Perhaps network topology?  We've always communicated with the robot on a small (single switch) network.

[2013-07-25 20:04] JeremyZoss commented on #25
I think testing would be fairly easy.  We could "hand-craft" TCP message packets that are either the combination of two SimpleMessage packets, or split a single message into multiple packets.  These packets could be sent (with optional time-delays) to test the merged/split packet handling.  I think that with TCP_NODELAY set, all packets should be sent "immediately".

I do remember this being an is

[2013-07-25 20:14] gavanderhoorn commented on #25
If you go the receive timeout way, why not just use a `select(..)` with `O_NONBLOCK` on the socket. That is the 'normal' way AFAIK. Again, `#ifdef`ed, as I don't think many of the controllers -- if they support C/C++ -- will support `select`.

---

As for the multiple-packets-in-single-TCP-frames or single-packet-over-multiple-TCP-frames: I've been able to reproduce that fairly easily (at least fo

[2013-07-25 20:16] gavanderhoorn commented on #25
As for testing: if you mean manually: there are tools that can replay a Wireshark capture, I think I can get some fairly complicated (de)serialisation situations using the technique described above. ~~If you mean automatically: just create some hand-crafted packets (byte buffers) and feed them to the deserialisation routines by hand. That should be doable.~~ (right, JeremyZoss already said that)

[2013-07-25 20:25] JeremyZoss commented on #25
`select`-based timeouts would work, and are probably more "standard", as you suggest.  But I think the `SO_RCVTIMEO` method is more elegant (when supported), because it can be dropped into the current implementation with minimal changes.  It also allows you to block until the desired # of bytes are read, while `select()` only considers whether any data is available or not.

In my opinion, `select`

[2013-07-29 02:24] shaun-edwards commented on #25
Another related issue (google code): https://code.google.com/p/swri-ros-pkg/issues/detail?id=55

[2013-07-31 12:43] gavanderhoorn opened #26 "StopMotion service call should report actual result of invocation on robot controller"
As mentioned in ros-industrial/fanuc#11, the [`JointTrajectoryInterface::stopMotionCB(..)`](https://github.com/ros-industrial/industrial_core/blob/groovy-devel/industrial_robot_client/src/joint_trajectory_interface.cpp#L315) service callback should return a success/failure indication based on the communication with the robot controller.

The current implementation always returns `true` -- as confi

[2013-07-31 12:47] gavanderhoorn commented on #10
@shaun-edwards: yes, I was refering to the way we did things with rosbuild. I currently don't link against `catkin_LIBRARIES` for that reason in the `CMakeLists.txt` of the `fanuc_driver`, but explicitly reference the proper libraries. This has worked for me.

[2013-07-31 13:45] shaun-edwards opened #27 "Native Robot I/O"
This issue has been moved from: ros-industrial/ros_industrial_issues#2 (submitted by @clay-flannigan)

Native robot I/O should be supported through standard ROS-I interfaces. Most industrial controllers have built-in (embedded) I/O standard functions like fence-status, gripper-close, etc. They generally also support general purpose I/O. Exposing these I/O points would remove the requirement for se

[2013-08-01 11:15] liborw commented on #27
We have already implemented an IO interface for motoman (DX100) robot. With bit of help we can make it more general.

The current implementation uses another simple message. The message is composed of pairs, IO address and command. Command represents reading, writing and read value (in case of reply from the controller).

[2013-08-01 11:23] gavanderhoorn commented on #27
@liborw: is this code publicly accessible? I'm wondering if you considered (and how you dealt with) issues with consistency?

[2013-08-01 12:31] liborw opened #28 "JOINT_POSITION and JOINT_FEEDBACK"
What is the difference between JOINT_POSITION and JOINT_FEEDBACK which should be used and where?

[2013-08-01 13:04] liborw commented on #27
@gavanderhoorn: yes, the motoman side is [here](http://clopema.felk.cvut.cz/gitweb/?p=ros_industrial.git;a=tree;f=motoman/dx100/motoplus/motoros_lib;h=28bed42d0d9d3eee28a140097a51afb9a79fb7b5;hb=HEAD) io_interface.[cpp,h], and the message is [here](http://clopema.felk.cvut.cz/gitweb/?p=ros_industrial.git;a=tree;f=industrial_core/simple_message;h=4f34c2d9e9d6414fd11d2dd76e9e67aa0099ad22;hb=HEAD) io

[2013-08-01 14:24] JeremyZoss commented on #28
JOINT_POSITION was the original message used to broadcast current joint position data from the controller to ROS.  It is fairly simple, and only includes position data for a single robot.

We ran into limitations using this robot for systems using multiple robot arms. It also doesn't provide velocity and acceleration feedback, which is desired for some applications.

The JOINT_FEEDBACK message was

[2013-08-01 20:31] shaun-edwards opened #29 "Log messages that display errno should display the associated error text instead."
Several (i.e. many) users have had issues with socket connection errors to different controllers.  When this occurs, the log messages contain the last error code stored in errno.  To determine the root cause of the fault, the error code value must be looked up.  A better log message should be used the utilizes the strerror() function ( http://linux.die.net/man/3/strerror ).  This function returns

[2013-08-21 00:09] #29 closed, assigned to nobody

[2013-08-23 20:19] JeremyZoss opened #34 "simple_message should include receive timeout"
Currently, the simple_message receive calls will block forever until the requested message data is received or the connection is dropped/reset.  For some applications, it may be helpful for the user to be able to specify a timeout on the socket-read.

The recent fix to Issue #25 helps provide some of the low-level socket structure needed for this enhancement.  But, this enhancement will require ad

[2013-08-25 14:08] gavanderhoorn commented on #8
The issue reported in this ticket seems to have been fixed.

Ticket can probably be closed?

[2013-08-30 15:07] gavanderhoorn commented on #8
Seems `industrial_robot_simulator` isn't installing its launch file properly. Will fix and open pull-request.

[2013-08-30 15:13] gavanderhoorn opened #35 "Missing install target for launchfile of simulator"
As per subject line.

[2013-08-30 15:32] gavanderhoorn commented on #35
This is also for #8.

[2013-08-31 02:11] shaun-edwards commented on #27
@liborw, @gavanderhoorn, It seemed like this could be the start of a new feature discussion.  Was there any resolution on this.  This is definitely a feature of interest to a lot of users, but we (SwRI) doesn't have the resources to put to it.

[2013-09-03 13:48] #35 closed, assigned to nobody

[2013-09-10 16:17] gavanderhoorn commented on #3
Seems the `pr2_controller_manager` cannot be used anymore in MoveIt configs (or at least, MoveIt has started complaining on my machine since earlier this week). I've got something that works locally, using the MoveIt simple_controller_manager, but I'm not quite sure that it's up-to-scratch.

If someone with some more insight could take a look at this? And preferably update the tutorial as well?

[2013-09-10 22:47] JeremyZoss commented on #3
Wiki documentation is updated.  See [here](http://wiki.ros.org/Industrial/Tutorials/Create_a_MoveIt_Pkg_for_an_Industrial_Robot#Update_Configuration_Files).  I think I have patches submitted for all relevant robot packages.  We can close this when those patches (linked to this issue) are accepted.

[2013-09-11 05:53] gavanderhoorn commented on #3
@JeremyZoss: right, that was how I did it for my Fanuc configs as well. Thanks.

[2013-09-11 10:15] gavanderhoorn commented on #3
Fixed `fanuc_experimental` packages with ros-industrial/fanuc_experimental#2.

[2013-09-12 12:16] gavanderhoorn opened #37 "ROS Wiki 'landing' page of ind_robot_client missing 'node api' section"
The [current wiki page](http://wiki.ros.org/industrial_robot_client) of the `industrial_robot_client` package shows the typical content (intro, toc, overview), but then immediately 'goes deep' (ie _Modification for Robot-Specific Needs_).

I'd expect to find an overview of the node api there -- similar to the  [`industrial_robot_simulator`](http://wiki.ros.org/industrial_robot_simulator) page -- b

[2013-09-16 20:23] shaun-edwards commented on #37
The 'this page' link is not obvious.  Let's go ahead and reverse them.

[2013-09-16 20:44] JeremyZoss commented on #37
The original intent of the wiki layout was to reflect the fact that the industrial_robot_client is not a ROS **node**, but rather a **library**.  It is similar to the [simple_message](http://wiki.ros.org/simple_message) or [tf](http://wiki.ros.org/tf) libraries.

My thought was that end users wouldn't ever look to the `industrial_robot_client` page for documentation on how the robot nodes work.  T

[2013-09-16 22:14] shaun-edwards commented on #10
Issued fixed by merged pull request

[2013-09-16 22:14] #10 closed, assigned to jrgnicho

[2013-09-16 22:14] shaun-edwards commented on #25
Fixed

[2013-09-16 22:14] #25 closed, assigned to shaun-edwards

[2013-09-16 22:15] shaun-edwards commented on #8
Fixed, closed.

[2013-09-16 22:15] #8 closed, assigned to shaun-edwards

[2013-09-16 22:16] shaun-edwards commented on #3
Fixed, closed.

[2013-09-16 22:16] #3 closed, assigned to JeremyZoss

[2013-09-17 07:55] gavanderhoorn commented on #37
@JeremyZoss: that makes a lot of sense.

But since it is possible for a robot to use just the `industrial_robot_specific` nodes (see ros-industrial/fanuc#22 fi), I think we should at least make the link to the node API easier to find.

One option might be to refactor the node API into an include-able wiki page, which can then be referenced to by all the manufacturer-specific pages. I'd suggest to

[2013-09-26 01:37] shaun-edwards opened #38 "Disable tcp test in message manager suite"
The TCP test in the Message Manager test suite ( https://github.com/ros-industrial/industrial_core/blob/groovy-devel/simple_message/test/utest.cpp#L486 ) requires roscore in order to complete.  This prevents the simple message unit test from running on the Jenkins build system.  In order to enable automatic testing (and failure reporting), this test should be disabled.  Note: a more permanent solu

[2013-09-27 02:49] #38 closed, assigned to shaun-edwards

[2013-10-09 02:01] shaun-edwards commented on #28
The REP for the new industrial robot client will clarify this and mark message ID's for deprecation.

[2013-10-09 02:01] #28 closed, assigned to nobody

[2013-10-29 15:29] JMLambert opened #40 "Dynamic number of joints in joint streaming interface"
Currently, the number of joint-related information that can be transmitted by the joint streaming interface is hard-coded. Being able to specify the number of joint information that can be passed dynamically would greatly increase flexibility of the interface.

[2013-10-29 15:32] gavanderhoorn commented on #40
@JMLambert: could you elaborate a bit on what you mean exactly by "_the number of joint-related information_"? Are you talking about the number of joints reported on, or about the _types_ of information (ie: joint angles, velocities, etc)?

[2013-10-29 15:53] JMLambert commented on #40
Sure, I'm talking about the number of joints for which you can send information (I agree, that was a bit cryptic). Right now, you can only send info for a maximum of 10 joints. If your robot(s) have more joints, you have to change that hard-coded limit and recompile simple_message as well as industrial_robot_client. I'D be nice to be able to set this dynamically.

[2013-11-01 15:02] shaun-edwards commented on #40
@JMLambert, we discussed this offline, but I am adding that part of the discussion to this issue.

As far as future plans, the message has to remain relatively static in order to ensure backwards compatibility.  This is one of the downfalls of running an open source project, any changes we make have to take others into consideration.  Instead of modifying the current message, we plan to create a n

[2013-11-01 15:02] #40 closed, assigned to nobody

[2013-11-11 15:23] shaun-edwards opened #41 "Split packet test fails intermittently"
The split packet unit test fails every so often on the jenkins build farm:

http://jenkins.rosindustrial.org/job/ros_industrial_groovy_dev/37/
http://jenkins.rosindustrial.org/job/ros_industrial_groovy_dev/35/

Subsequent re-builds seem to correct the issue.

The failure seems to be related to a failure to initiate a socket (from the console output):

[code]

[2013-11-30 01:02] shaun-edwards opened #42 "Migrate industrial trajectory filters package to industrial core"
The industrial trajectory filters package from [industrial experimental](http://github.com/ros-industrial/industrial_experimental) should be migrated to industrial core in preparation for the hydro release.

The package xml/dox files should also be update in preperation for release (i.e. fill out descriptions, add install targets, etc...).

The package will have to be added to the industrial_core

[2013-12-03 11:55] gavanderhoorn opened #43 "multiple: package.xml files contain obsolete <cpp> tags in <export> section"
ie:

[code]

This is no longer supported in catkin. Exporting include and linker paths as well as libraries to link against should be done using the `catkin_package(..)` statement.

At least `simple_message`, `industrial_robot_client`, `industrial_utils` and `industrial_simulator` do this.

[2013-12-03 16:56] shaun-edwards commented on #43
@gavanderhoorn  Am I correct that this is not a critical issue.  The export is not doing anything useful, nor is it harming things.  Is this just more of a "make sure we clean this up"?

[2013-12-03 16:57] gavanderhoorn commented on #43
AFAIK: yes, these tags are really obsolete, and are ignored. I do think that (all) `CMakeLists.txt` could do with some cleanup before an actual Hydro release though.

[2013-12-03 16:58] gavanderhoorn commented on #43
@shaun-edwards: I also wanted to make sure people understood that these tags _are ignored_ and that they shouldn't be relied upon to actually setup any linker and / or include paths (ie: they should use other catkin infrastructure for that).

[2013-12-03 22:58] shaun-edwards commented on #43
@gavanderhoorn, I scheduled this issue for Indigo.  Please add an additional issue for `CMakeLists.txt`.  If you are detailed enough, I might be able to get it done before the Hydro release (planned in the next month).  It might also be faster/easier if you handled the cleanup (if you have time).

[2013-12-04 10:32] gavanderhoorn opened #45 "CMake targets should be prefixed by ${PROJECT_NAME}"
See ros-industrial/ros_industrial_issues#8.

[2013-12-04 14:54] gavanderhoorn opened #46 "industrial_robot_client: build failure when using catkin_make_isolated"
As per this email to the ros-industrial mailing list: [Compiling ros-industrial with catkin_make_isolated](https://groups.google.com/d/msg/swri-ros-pkg-dev/wwcyZD5bVtw/7t-R6kDbkNIJ).

Building `industrial_robot_client` using `catkin_make_isolated` fails with the following error:

[code]

This seems to be due to the fact that CMake cannot resolve the reference in `target_link_libraries(..)` to the

[2013-12-04 14:55] #43 closed, assigned to nobody

[2013-12-04 14:59] gavanderhoorn commented on #46
The root cause for this seems to be the fact that `simple_message` does not export its libraries in the `catkin_package(..)` call. Adding `LIBRARIES simple_message` to the `catkin_package(..)` statement allows `industrial_robot_client` to be build again (but this is obviously _not_ a solution).

One possible solution would be to find a better solution to the issue described in #10.

[2013-12-16 08:18] gavanderhoorn commented on #45
This is actually more involved than just prefixing all targets with the project_name variable due to the way `simple_message` and `industrial_robot_client` build and export their libraries (#46). The fact that CMake resolves linking dependencies at configuration time makes it impossible to depend on renamed targets (ie, depend on `foo` instead of `foo-before-rename`).

Without exporting the `simpl

[2013-12-17 15:19] shaun-edwards commented on #46
@gavanderhoorn, I'm not sure I have a proper solution to this problem.  Do you have anything in mind.  If not, I was going to ask the rosbuild list for their input.

[2013-12-17 15:44] gavanderhoorn commented on #46
Well, off the top of  my head I can come up with two approaches:
1. use runtime installable (de)serialisation function pointers

   depending on configuration (using environment variables, ROS parameters, or something else), the appropriate functions are installed and used by `simple_message` in places where it now uses the `#ifdef`ed versions. Perhaps a `simple_message_init()` function can be add

[2013-12-17 21:09] shaun-edwards commented on #46
I agree that this non-conformity is just going to keep biting us.  I like the idea of number 2 (sort of).  Perhaps we can just export the source of `simple_message` and `industrial_robot_client`` and ignore building the libraries.  The different nodes in`industrial_robot_client``` would then build using the correct macros defined, without linking to libraries

Other nodes that depend on `simple_me

[2013-12-18 07:56] gavanderhoorn commented on #46
I like how you first agree that the non-conformity is going to keep giving us problems, then suggest we create a source-only package which gets released as a binary package (conformity?), from which end-users (including us) will have to build their own libraries using internal knowledge (build-flags) of our package :). Is this just to avoid adding the 4 new variant packages?

Yes, we should be abl

[2013-12-18 15:30] JeremyZoss commented on #46
Personally, I prefer Option #2 ("configuration packages").

We may also be able to redo the `industrial_robot_client` packaging to help simplify this distribution.  Currently, the `industrial_robot_client` `CMakeLists.txt` specifies that the `simple_message` package should be explicitly linked into the `industrial_robot_client` library (using `target_link_libraries`).  The intent here was that hig

[2013-12-18 15:34] gavanderhoorn commented on #46
@JeremyZoss: just a quick note: AFAIK that is no longer true. CMake / catkin ignores the `ROS_BUILD_STATIC_LIBS` definitions. Last time I checked, I get 3 `.so`s after building `simple_message`.

[2013-12-18 15:37] shaun-edwards commented on #46
My only concern with creating new packages is the pain this causes others.  Package names are littered throughout many files.  Creating new packages for a Hydro release will cause headaches for those how are currently building from source (there are quite a few).  If we don't have to address this issue for the Hydro release, then I am more open to creating new package to address this issue in a po

[2013-12-18 15:41] gavanderhoorn commented on #46
I don't really have a preference for either approach (or the one described by @JeremyZoss). Just out of curiousity though: it seems as option 1 is already off the table, any reason why? It introduces some small code changes, but seems like it would nicely solve the use-case (being able to deal with endianness differences) while also avoiding the issues with the current library setup.

[2013-12-18 15:44] gavanderhoorn commented on #46
@shaun-edwards: I don't really see how people building from source are going to be impacted by this any more than those installing debs? New packages will be introduced, current robot drivers will have to be updated (only build files). Those from source will have to rebuild, those installing binaries will have to update. Isn't that the 'risk' you run when installing from source?

But in general, w

[2013-12-18 16:06] shaun-edwards commented on #46
Regarding option 1, it will probably only address byte order.  The 64bit issue may still exist since the compiler switches change typedef definitions (see [shared types](https://github.com/ros-industrial/industrial_core/blob/groovy-devel/simple_message/include/simple_message/shared_types.h) )

Regarding package renaming, I think a tick-tock approach is preferred.  I'm also supportive of an early c

[2013-12-27 13:42] gavanderhoorn opened #48 "simple_message: caller should pass errno as parameter to logSocketError(..)"
The implementation of `logSocketError(..)` in `simple_socket.h` is naive: the value of `errno` is retrieved inside the function (see [simple_socket.h#L210](https://github.com/ros-industrial/industrial_core/blob/groovy-devel/simple_message/include/simple_message/socket/simple_socket.h#L210)). Depending on the context in which this function is called, `errno` could've already changed, making the pri

[2013-12-27 16:40] gavanderhoorn opened #50 "planning_request_adapters: missing install rule for plugin xml (hydro)"
Seems the `CMakeLists.txt` is missing an install rule for the `planning_request_adapters_plugin_description.xml` file in the `hydro-devel` branch.

[2013-12-27 19:16] gavanderhoorn commented on #50
Fixed in 30dfc20f (hydro-devel).

[2013-12-27 19:16] #50 closed, assigned to gavanderhoorn

[2013-12-28 02:38] shaun-edwards commented on #42
See pull requests #49, #51, and #52.

[2013-12-28 02:38] #42 closed, assigned to shaun-edwards

[2013-12-28 14:32] gavanderhoorn opened #53 "robot_simulator: hard coded Python path"
See ros-industrial/ros_industrial_issues#9.

[2013-12-30 01:50] #53 closed, assigned to nobody

[2013-12-30 15:08] gavanderhoorn commented on #37
@shaun-edwards: I just noticed I've been assigned this bug, but am unsure if I'm actually the right person to do anything about this. The comments of @JeremyZoss make sense, so just swapping the Node API for the other content might not actually be the best thing to do.

[2013-12-30 16:08] shaun-edwards commented on #37
@gavanderhoorn, OK.  Let's keep this on the back burner until after the hydro release.

[2014-01-03 09:54] gavanderhoorn opened #56 "simple_message: Missing BYTE_SWAPPING target_property in utest declaration?"
Excerpts from the `CMakeLists.txt` in `simple_message`:

_target_properties_ for endianness swapping utest:

target_properties for float64 utest:

The float64 version repeats the `FLOAT64` define in the test target_properties, the byte swapping version does not (no `BYTE_SWAPPING` in target_properties).

I haven't looked at the actual execution paths influenced by these defines, but is this an omi

[2014-01-03 11:43] gavanderhoorn commented on #46
@shaun-edwards wrote:

I've thought some more about this, and I think it would actually be possible to deal with any differences: the (de)serialisation routines would just be bit more complex.
- Endianness issues can be dealt with by wrapping `hton(..)` and friends
- As to the float/double issue: make the PC side use `double`s everywhere. Now for a controller using `float`s, install a (de)serialis

[2014-01-03 12:04] gavanderhoorn opened #57 "robot_client: no launch files for byteswap / float64 variants"
As per subject: the `launch` directory only contains launch files for the default versions of `robot_state`, `motion_streaming_interface` etc.

Perhaps these should be added? Alternatively we could parameterise them, similar to the launch files in the robot support packages (ie: `use_bswap` etc).

[2014-01-03 13:12] gavanderhoorn commented on #46
@shaun-edwards, @JeremyZoss: I pushed a possible implementation of option 2 (base + cfg pkgs), see [gavanderhoorn/industrial_core/configuration_pkgs](https://github.com/gavanderhoorn/industrial_core/tree/configuration_pkgs).

`industrial_robot_client` only builds the basic version (no swapping), but the changes would be similar to those made to `simple_message`. This setup solves the problem the O

[2014-01-06 01:22] shaun-edwards commented on #57
+1 for parameters.

[2014-01-06 01:27] shaun-edwards opened #58 "Simple message debian should include src and make files"
The simple message package is meant to be a source package that is built by setting compile flags.  Libraries/binaries are built for the variations used in ROS-Industrial, but a user should also be free to build their own versions.  This can be done with the source version, but not easily with the debian version.  It might be easier with the debian version if we installed a cmake macro that encaps

[2014-01-06 01:29] shaun-edwards commented on #58
This issue is blocked until #46 is addressed.

[2014-01-06 07:15] gavanderhoorn commented on #58
I don't think I agree with the rationale that is given in this issue for installing the sources. IMHO if a developer (our 'end-users') wants to create a new version of the library for whatever purpose, they will most likely need to do development work, so I would expect them to checkout the source of `simple_message` and `industrial_robot_client` anyway. Why would we install the sources into a bin

[2014-01-06 23:23] shaun-edwards commented on #58
My motivation to install sources is two fold.
1. There have been a couple of instances where others have utilized `simple_message` to facilitate their own communications with other hardware.  In both instances (there were only two), I had to walk them through the process of finding the repo and getting the right version of the source code.  In my opinion, this process required that you know more a

[2014-01-07 03:25] shaun-edwards opened #61 "Industrial deprecated package should updated"
The industrial deprecated package is meant to ease deprecation of packages within ROS and ROS-Industrial.  It should be cleaned of anything that is officially unsupported (these are mostly arm-navigation support) and populated with any new deprecated items (none that I know of).

[2014-01-07 03:43] shaun-edwards opened #62 "Industrial deprecated package should updated"
The industrial deprecated package is meant to ease deprecation of packages within ROS and ROS-Industrial.  It should be cleaned of anything that is officially unsupported (these are mostly arm-navigation support) and populated with any new deprecated items (none that I know of).

[2014-01-07 03:44] #62 closed, assigned to shaun-edwards

[2014-01-07 14:39] gavanderhoorn opened #63 "robot_simulator: redundant roslib.load_manifest(..)"
As far as I understand [catkin/what#Python Modules (Libraries)](http://wiki.ros.org/catkin/what#Python_Modules_.28Libraries.29) on the ROS wiki, Python scripts no longer need to load the manifest. Ie:

`roslib.load_manifest('industrial_robot_simulator')`

Is redundant.

[2014-01-07 15:29] gavanderhoorn commented on #58
@shaun-edwards wrote:

In my opinion, general user != developer. I admit the concept of 'user' is a bit ambiguous within ROS, but you're describing two instances where I'd consider those users developers. I expect developers to be a little more knowledgeable (ie: knowing how to look up a wiki page and finding the _Source: git .._ link). But this seems more an issue with documentation than a packag

[2014-01-07 16:02] shaun-edwards commented on #58
If the `simple_message` library were a header only library than I think this conversation would be a little different.  In some sense this is how I see the simple message.

I did an experiment to see if I could get the source code using `apt-get source`.  This worked for roscpp(catkinized), but not for our ROS groovy package.  This was an easy way to get the source code and maybe a good solution.

[2014-01-07 16:09] gavanderhoorn commented on #58
Most likely -- as you hint at yourself -- because `industrial_core` isn't a catkin package (and thus used the old build scripts).

Ok.

As an fyi:

In general, you can use the package manager, or the command line (ie: `dpkg -l | grep PKG_NAME`).

For ROS packages: `rosversion PKG_NAME`.

[2014-01-09 17:25] #61 closed, assigned to shaun-edwards

[2014-01-09 21:41] shaun-edwards commented on #56
As it turns out the `BYTE_SWAPPING` macro affects only the source code(i.e. *.cpp files).  This means that the byte/byte_swapping variations of the library do not need an additional macro definitions in executables/libraries that link to them.

`FLOAT64` affects both the source code and the header files, [shared_types.h](https://github.com/ros-industrial/industrial_core/blob/hydro-devel/simple_mes

[2014-01-10 07:41] gavanderhoorn commented on #56
Right, similar to the `INT32` and `INT64` defines, I see.

In similar situations it's customary to provide a `config.h` header file, which contains the appropriate set of defines used in building the library. This could then be included in `simple_message.h` (or some other required header). That would remove the need to export those defines from our source package. CMake has some infrastructure th

[2014-01-10 07:47] gavanderhoorn opened #65 "simple_message: possibility for name clashes with defines (INT32, INT64, ..)"
We should probably namespace all defines used in the `simple_message` package, as they are rather generically named right now. Especially `INT32`, `INT64`, `ROS` and `LINUXSOCKETS` have the potential to clash with defines from other headers / libraries.

I propose to prefix them with something like `SIMPLE_MESSAGE_`.

Now that we start looking into properly exporting those defines to users of the

[2014-01-13 09:46] gavanderhoorn commented on #46
Another option: explicitly add `${simple_message_LIBRARY_DIRS}` to the linker path of a dependent package, which can then link against `simple_message` libraries by name (instead of having to supply the full path, or an existing CMake target name).

See [gavanderhoorn/industrial_core/catkin_isolated_dummy_lib_test](https://github.com/gavanderhoorn/industrial_core/compare/catkin_isolated_dummy_lib_

[2014-01-13 09:54] gavanderhoorn commented on #46
Another option might be to exploit the CMake `COMPONENTS` argument to `find_package(..)`. Something like:

`find_package(simple_message REQUIRED COMPONENTS base bswap)`

The result would be that in addition to the normal variables for `simple_message`, the find script also sets `simple_message_bswap_LIBRARY_DIRS`, `simple_message_bswap_INCLUDE_DIRS` and `simple_message_bswap_LIBRARIES`. Dependent

[2014-01-21 10:50] gavanderhoorn opened #67 "robot_client: dependent pkgs fail to link (catkin_make_isolated)"
Identical to ros-industrial/industrial_core#46. See ros-industrial/fanuc#56 for some more info.

[2014-01-21 13:20] gavanderhoorn opened #68 "Unresolved simple_message symbols when linking against libindustrial_robot_client.so"
Trying to build `fanuc_driver` against the recent Hydro release (0.3.3) fails with:

[code]

I seem to remember this worked under rosbuild because `simple_message` built static libraries, whereas it currently builds shared libraries (the default under catkin / CMake).

Adding the `STATIC` argument to the `add_library()` statements in `simple_message/CMakeLists.txt` results in the old behaviour. I'

[2014-01-21 15:51] #67 closed, assigned to nobody

[2014-01-23 09:58] gavanderhoorn commented on #68
A workaround right now would be to add both the appropriate `simple_message` and `industrial_robot_client` libraries to the `target_link_libraries(..)` statement.

[2014-01-27 11:03] gavanderhoorn commented on #46
Just a status update: the current release (0.3.4) of `industrial_core` includes the changes in ros-industrial/industrial_core@a1c9b6a7: this workaround appends the directories containing the `simple_message` and `industrial_robot_client` libraries to the linker path of catkin-depending packages. This can be verified from the following output during configuration:

[code]

`simple_message` and `ind

[2014-02-10 20:18] gavanderhoorn commented on #58
Just storing this here:

[code]

A possible way to get the correct path to the sources from either the source/devel and the install space.

[2014-02-26 07:36] gavanderhoorn opened #72 "Backport hydro build infrastructure fixes to groovy-devel"
As per subject.

[2014-02-26 16:57] shaun-edwards commented on #72
My only concern with doing this is how easy it will be to manage the slight differences between groovy and hydro.  Right now, the only difference is some release changes (i.e. version numbers in package.xml).  How will we handle this when there are big changes that can't be backported.  Also, what will be the impact on all the packages that depend on industrial_core.  I assume their hydro branches

[2014-02-26 20:12] gavanderhoorn commented on #72
Obviously any changes that depend on changes being present in dependencies cannot be backported without the changes in those dependencies being backported.

In this case though the amount of changes is fairly limited (build infrastructure only), and those changes have been designed to be as backward compatible as possible (ie: the issue #46 workaround). I'll see if I can test something quickly, bu

[2014-02-28 11:18] gavanderhoorn commented on #72
Ok, so I've looked at this a bit and I see two options:
1. we backport only the changes to the build scripts
2. we backport any changes that can be backported without adding anything new

For 1, this comes down to (not in any specific order):
- 9df46977: "Work around simple_message not playing nice with Catkin. "
- 6590311c: "robot_client: workaround for #46. Fix #67."
- 61755972: "Fixed formattin

[2014-02-28 11:20] gavanderhoorn commented on #72
Option 1 would also deal with the linking problems that were reported in #71.

[2014-03-05 22:31] jrgnicho opened #73 "simulator initial joint state"
The industrial robot simulator should allow using an initial user defined joint state instead of always starting with all the joint values set to 0.

[2014-03-06 16:27] jrgnicho commented on #73
+1

[2014-03-06 16:27] #73 closed, assigned to nobody

[2014-03-06 20:02] jrgnicho commented on #73
+1

[2014-03-16 17:58] Samsagax commented on #27
I looked into @liborw code and I think I can implement something for an ABB robot. Maybe we should add a standard configuration file to map I/O units and addresses to human readable form.
Or perhaps we can add identifiers instead of I/O addresses, but that would depend greatly on each manufacturer's controller capabilities.

[2014-03-20 01:38] shaun-edwards commented on #27
@Samsagax, The difficulty in this issue is standardizing IO addressing across robot platforms.  @gavanderhoorn is currently putting together a plan for this.  While we could implement specific solutions for different robots, it makes sense to take a generic approach so we can standardize at a driver level.  This will allow for code portability across vendor platforms.

[2014-03-28 14:26] Samsagax commented on #27
@gavanderhoorn, are you open for help?

[2014-03-31 00:40] shaun-edwards commented on #27
@gavanderhoorn, ping...it looks like @Samsagax is willing to help out.

[2014-03-31 11:16] gavanderhoorn commented on #27
@shaun-edwards: I'd seen it, just hadn't had time to respond yet.

@Samsagax: please contact me off-list (to avoid cluttering this issue).

[2014-04-02 10:05] gavanderhoorn commented on #56
@shaun-edwards wrote:

Are we keeping this issue open because of that? Perhaps we should create some new ones to track these specific problems.

This one could be closed: `BYTE_SWAPPING` is not missing.

[2014-05-27 20:26] drchrislewis opened #76 "New Smoothing filter Desired"
Would like to have a filter which simply smooths the results of OMPL style planners which tend to produce choppy plans near obstacles. A smoothing filter will simply replace each point with a weighted average of its surrounding waypoints/states. Code is written, just needs to be integrated, pulled requested and accepted.

[2014-06-18 11:42] gavanderhoorn opened #78 "install rules for libraries are incorrect"
According to the _Installing_ section of the [Building and installing C++ libraries and headers](http://docs.ros.org/hydro/api/catkin/html/howto/building_libraries.html) page of the catkin documentation, library targets should be installed using:

[code]

At least `industrial_robot_client` and `simple_message` do not do this. This should be corrected.

[2014-08-06 15:43] gavanderhoorn opened #80 "Add endianness detection using the ping message"
Just something I thought of, but we could possibly detect endianness of the controller by sending it a `ping` (a `simple_message` ping). Checking the fields in the reply should make it clear as to what endianness the server is using. The `ping` would be send _before_ all other traffic.

If not for automatic installation of byte-swapping handlers, this could be used to detect misconfiguration by th

[2014-08-06 23:10] shaun-edwards commented on #80
+1...this is by far the most common issue people have when talking to hardware.  It's particularly bad for drivers that have to support both (i.e. motoman and fanuc).

[2014-08-08 15:12] gavanderhoorn commented on #80
@gavanderhoorn wrote:

This is actually rather difficult: all currently implemented state servers start to immediately send `JOINT_STATUS` data (or equivalent) upon connection. As state clients and joint relays are independent processes, we cannot influence their connection order, or even predict which will connect first.

This makes the described approach rather useless (at least with the way thi

[2014-08-15 07:07] gavanderhoorn commented on #27
See also ros-industrial/rep#7.

[2014-08-18 03:01] moicez opened #81 "Cartesian Paths + Uniform Sample Filter"
For people that use this package to resample a trajectory uniformly and are using Cartesian paths, here are a few suggestions that can make this package better:
1. The sample_duration variable needs to be accessible so it can be modify from a C++ code; and
2. A tutorial/example would be great so users can implement the filter in their C++ code.

[2014-10-22 09:54] gavanderhoorn opened #85 "joint_traj_action: segfault (null pointer) in withinGoalConstraints() when no feedback has been received"
While looking into [Rename JOINT_NAMES in ur_driver test_move.py](http://answers.ros.org/question/195376/rename-joint_names-in-ur_driver-test_movepy/) on ROS Answers:

I've observed that `joint_trajectory_action::withinGoalConstraints(..)` tries to dereference the `last_trajectory_state_` member variable in a call to `industrial_robot_client::utils::isWithinRange(..)`, even when no `FollowJointTra

[2014-10-22 09:55] gavanderhoorn commented on #85
I'm not really sure if there is an obvious solution to this: if no feedback has been received, are all goals automatically _not_ within bounds? Intuitively, I'd say we cannot know, but I don't see a way to express that using the Actionlib API / interfaces.

[2014-10-22 10:04] gavanderhoorn commented on #85
Also: this is not normally something you run into as in situations with an actual robot driver, joint states are received as soon as the driver starts. The first goals are then sent some time after system initialisation. In the case of the ROS Answers post, there are not joint states yet (no implementation of the robot state server on the controller), leading to the observed crash.

[2014-10-22 15:24] shaun-edwards commented on #85
Isn't there a way to reject a goal?  This could be done if no feedback has been received (with a proper error message).

[2014-10-22 15:28] gavanderhoorn commented on #85
On 22-10-2014 17:24, Shaun Edwards wrote:

yes, that would be an option indeed.

[2014-10-23 09:22] RosBort commented on #85
What does it mean to reject a goal?

[2014-10-23 09:29] gavanderhoorn commented on #85
An ActionServer can reject a goal if it decides that it cannot complete the client's request. Rejecting is different from aborting, as the latter can only be done with a Goal that has already been accepted (and is either active or preempted). See [wiki/actionlib/DetailedDescription - Server Transitions](http://wiki.ros.org/actionlib/DetailedDescription#Server_Transitions) and [wiki/actionlib/Detai

[2014-10-23 10:11] gavanderhoorn commented on #85
@RosBort: can you try my [issue85_within_constraints_segfault](https://github.com/gavanderhoorn/industrial_core/tree/issue85_within_constraints_segfault) branch? As far as I can tell, that should fix the issue.

You won't be able to send any goals to your `simple_message` server as long as you don't also send joint_states back.

[2014-10-23 15:58] RosBort commented on #85
I tried it on my work station and it works. That means it throws the error: "Waiting for server feedback".
I yet don't know how to use the branch, but I just reinstalled the industrial_core via GIT and copied the change into the joint_trajectory_action.cpp.

[2014-10-23 16:13] gavanderhoorn commented on #85
That's the intended behaviour. Thanks.

[2014-10-28 01:10] #85 closed, assigned to nobody

[2014-10-31 10:17] gavanderhoorn opened #89 "robot_simulator: strange package dependencies"
The `CMakeLists.txt` and package manifest of the `industrial_robot_simulator` package contains some (afaict) strange dependency declarations. Seeing as this is a Python only node (with only a ROS API level interface), I'm wondering why the `roscpp` and `industrial_robot_client` packages are listed as catkin / build & run deps.

[2014-10-31 10:24] gavanderhoorn opened #90 "robot_simulator: missing license header."
As per subject.

Manifest states _BSD_, but file itself is missing the proper license text.

[2014-11-14 15:09] #63 closed, assigned to nobody

[2014-11-20 19:27] gavanderhoorn opened #94 "simple_message: update doc on vendor ranges after acceptance of REP-I0004"
Comments in [simple_message.h](https://github.com/ros-industrial/industrial_core/blob/hydro-devel/simple_message/include/simple_message/simple_message.h#L76-L81) still state that vendor ranges can be up to a 1000 identifiers in length:

According to [REP-I0004](https://github.com/ros-industrial/rep/blob/master/rep-I0004.rst#vendor-specific-ranges), this is not true: vendor ranges are at most 100 i

[2014-11-27 08:33] gavanderhoorn opened #95 "robot_client: add support for configurable TCP ports to nodes"
This should be relatively straight-forward, as the `motoman_driver` nodes already support this (see [robot_state_interface.cpp](https://github.com/ros-industrial/motoman/blob/hydro-devel/motoman_driver/src/industrial_robot_client/robot_state_interface.cpp#L55-L83) fi).

A `port` parameter should be read from the nodes' private namespaces, and should specify the TCP port to connect to on the contro

[2014-12-15 09:45] gavanderhoorn opened #96 "robot_simulator: allow user to override specific keys of robot_info svc response"
The current implementation of the `get_robot_info` service in `industrial_robot_simulator` allows users to configure the contents of the response using a yaml rosparam. However, the implementation takes either everything from the yaml, or uses a hard coded set of default values. It fails if users haven't included every key/value pair in their yaml rosparam.

The implementation should be amended to

[2014-12-15 09:54] liborw opened #97 "The timestamp of the RobotStatus is not filled."

[2014-12-15 13:14] gavanderhoorn commented on #95
Don't know how I missed this, but this seems to be already supported, see [industrial_robot_client/joint_trajectory_interface.cpp, lines 56 to 74](https://github.com/ros-industrial/industrial_core/blob/hydro-devel/industrial_robot_client/src/joint_trajectory_interface.cpp#L56-L74) and [industrial_robot_client/robot_state_interface.cpp, lines 56 to 74](https://github.com/ros-industrial/industrial_c

[2014-12-15 13:14] #95 closed, assigned to nobody

[2014-12-15 13:34] gavanderhoorn commented on #97
Are you refering to the `JointState` messages published by the generic `robot_state` node in `industrial_robot_client`, or something else?

From what I can gather from [industrial_robot_client/joint_relay_handler.cpp](https://github.com/ros-industrial/industrial_core/blob/hydro-devel/industrial_robot_client/src/joint_relay_handler.cpp#L137-L141), lines 137 to 141, the `header.stamp` field is assig

[2014-12-16 08:35] liborw commented on #97
Sorry, I was refering to the `RobotStatus` (fixed in the title), published also by `robot_state` at least for the motoman robot.

[industrial_robot_client/robot_status_relay_handler.cpp](https://github.com/ros-industrial/industrial_core/blob/hydro-devel/industrial_robot_client/src/robot_status_relay_handler.cpp), lines 68 to 79:

[code]

[2014-12-22 03:29] shaun-edwards commented on #46
@gavanderhoorn, I'm trying to pick this issue up again for the Indigo release.  It appears that [configuration_pkgs](https://github.com/gavanderhoorn/industrial_core/tree/configuration_pkgs) was your desired approach (linked above) before we went the workaround route.  Can you remember why we had to go through with the workaround?

[2014-12-22 10:46] gavanderhoorn commented on #46
iirc:
- I think for building on the buildfarm, we'd have to install the `simple_message` sources as well. I'm not too much of a fan of that
- package 'explosion': if you really want to make everything 'just work' (ie: no manual handling of which library to link to for dependent targets in `industrial_robot_client`), we'd need to create three versions of `industrial_robot_client` as well
- work aro

[2014-12-22 10:52] gavanderhoorn commented on #46
I've just rebased [gavanderhoorn/industrial_core/configuration_pkgs](https://github.com/gavanderhoorn/industrial_core/tree/configuration_pkgs) onto `hydro-devel` and pushed it to [gavanderhoorn/industrial_core/configuration_pkgs_on_hydro-devel](https://github.com/gavanderhoorn/industrial_core/tree/configuration_pkgs_on_hydro-devel).

Known issues with that branch:
- headers / sources are not insta

[2014-12-28 04:28] shaun-edwards commented on #46
Two questions:
1. If we build multiple packages for different types (say byte-swapping), how will a package like `fanuc_driver` tell the difference (it will require both).  Don't we still have a problem where the `${catkin_LIBRARIES}` will have a name collision?  We would need to dynamically namespace `simple_message`.
2. What if we stick with the current solution?  All that it requires is the use

[2014-12-28 09:19] gavanderhoorn commented on #46
@shaun-edwards wrote:

The package names act as namespaces (at least for CMake / catkin variables): where we now just hard code targets in `fanuc_driver` to link against `.._bswap` library targets in `simple_message`, with additional pkgs we can do something like:

[code]

Functionally, this is no different from linking directly (hard coded) against `simple_message_bswap`. However, it is more in l

[2015-01-15 09:30] gavanderhoorn opened #99 "robot_simulator: explicitly set queue_size for publishers"
Starting the `industrial_robot_simulator` node in Indigo results in the following warnings being printed:

[code]

Related links:
- [[ros-users] RFC: warning for (lacking) queue_size for python publishers in Indigo?](http://lists.ros.org/pipermail/ros-users/2014-March/068333.html)
- [rospy/Overview/Publishers and Subscribers - 1.3 queue_size: publish() behavior and queuing](http://wiki.ros.org/ros

[2015-01-15 19:53] #99 closed, assigned to nobody

[2015-01-16 07:55] #90 closed, assigned to nobody

[2015-02-06 03:38] shaun-edwards commented on #45
This was scheduled for `indigo`, but it only applies to `simple_message` and `industrial_robot_client` which cannot be fixed as stated above.

[2015-02-23 07:53] gavanderhoorn commented on #97
Hm, this has been fixed with the merge of #98. Somehow github didn't automatically close the issue.

[2015-02-23 07:53] #97 closed, assigned to nobody

[2015-02-28 02:06] shaun-edwards commented on #48
Fixed in #102.

[2015-02-28 02:06] #48 closed, assigned to nobody

[2015-02-28 04:11] shaun-edwards commented on #41
This doesn't appear to be an issue in indigo (on a dev machine).  The jenkins server does not build indigo, so I can't be sure.  Leaving this bug open, but for now there isn't a fix.

[2015-03-02 20:38] gavanderhoorn opened #107 "simple_message: add serial smpl_msg_connection implementation"
For robots that lack ethernet (TCP/IP) networking support.

Especially older robots often don't support socket comms, even if they have a network interface. Using serial ports can then be a good alternative.

It shouldn't be too hard to get this to work. Potential issue could be the lower bandwidth of serial connections: most older controllers don't go above 19k2 or even 9k6 baud. Typical `robot_s

[2015-03-04 11:24] gavanderhoorn opened #108 "simple_message: gethostbyname() is deprecated / obsolete"
According to [man 3 gethostbyname](http://man7.org/linux/man-pages/man3/gethostbyname.3.html):

The changes merged in #87 introduce the use of `gethostbyname()` in [tcp_client.cpp](https://github.com/ros-industrial/industrial_core/blob/079a7ccc4fac2a85feed30e965c4cd1c2f29798e/simple_message/src/socket/tcp_client.cpp#L80). This should be fixed.

PS: [udp_client.cpp](https://github.com/ros-industria

[2015-03-15 08:57] gavanderhoorn commented on #94
Fixed in #104.

[2015-03-15 08:57] #94 closed, assigned to nobody

[2015-03-21 18:25] shaun-edwards commented on #2
Addressed in PR #105

[2015-03-21 18:25] #2 closed, assigned to kphawkins

[2015-03-23 15:28] gavanderhoorn commented on #89
This was fixed when #106 was merged.

[2015-03-23 15:28] #89 closed, assigned to nobody

[2015-04-04 15:32] gavanderhoorn opened #111 "simple_message: add support for GET_VERSION msg"
The _Standard Message Set_ of `simple_message` includes an identifier for a `GET_VERSION` msg since ros-industrial/rep@19d1c3f0 (see the [Standard Messages](https://github.com/ros-industrial/rep/blob/master/rep-I0004.rst#standard-messages) section for details). As it is part of the standard set, the `industrial_robot_client` nodes should support it, but that is currently not the case. There is als

[2015-06-03 10:43] simonschmeisser opened #112 "Industrial_robot_client: Greedy Watchdog leads to rejection of valid goal"
Hi,

this is a regression due to #86 / #85 . Sometimes execution of valid trajectories is rejected with this message:
Joint trajectory action rejected: waiting for (initial) feedback from controller

I poll my robot with 20 Hz (arbitrary), the watchdog is set to 1Hz. So I think the following happens:

1230s: JointTrajectoryAction::controllerStateCB: trajectory_state_recvd_ = true;
1230.01s: JointT

[2015-06-03 11:08] VictorLamoine commented on #112
Related: http://answers.ros.org/question/206418/how-should-i-handle-joint-trajectory-action-rejected/

[2015-06-03 13:34] shaun-edwards commented on #112
Does this issue only occur on startup?

[2015-06-03 14:30] VictorLamoine commented on #112
Not for me, it happens randomly when sending trajectories.
It happens both in simulation and on the real (Fanuc in my case) robot.

[2015-06-03 14:39] simonschmeisser commented on #112
No, this doesn't happen on startup (maybe if you manage to send goal requests immediately on startup it would, depending on what trajectory_state_recvd_ gets initialized to ?)

the (made up) timestamps in the explanation were meant to be relative

[2015-06-03 15:18] gavanderhoorn commented on #112
The described behaviour manifests itself when the goal is received in between the watchdog resetting `trajectory_state_received_` and the `controllerStateCB(..)` setting it to `true`. Depending on the rate at which `FollowJointTrajectoryFeedback` are published and the period of the watchdog, there can be quite some time between the two.

I think a proper fix would be for `controllerStateCB(..)` to

[2015-06-03 16:41] simonschmeisser commented on #112
I think of it more like a summary than a copy and then it makes sense to have it, since trajectory_state_received_ is "internal" to the watchdog.

Saving the time of the last package would work as well I guess, but it sounds like more overhead.

[2015-06-03 18:45] gavanderhoorn commented on #112
I'm not suggesting to save anything, just to have the timer reset on each call to `controllerStateCB(..)`. That is how watchdogs typically work.

[2015-06-09 01:40] shaun-edwards commented on #112
Am I correct in assuming this discussion is about PR #113?

[2015-06-09 07:07] simonschmeisser commented on #112
Yes indeed, what I proposed there was the least intrusive fix, but I can also implement what @gavanderhoorn suggested. Will just take a day or two

[2015-06-09 07:14] gavanderhoorn commented on #112
IIRC, @JeremyZoss wrote these parts of `industrial_robot_client`, perhaps he could explain why he implemented the watchdog like it is?

[2015-06-09 15:16] JeremyZoss commented on #112
Actually, I "inherited" the `joint_trajectory_action` server from Shaun's [original](https://code.google.com/p/swri-ros-pkg/source/browse/trunk/industrial/motoman/src/joint_trajectory_action.cpp?spec=svn40&r=40) code.  So, I can't provide any clarification on the original design intent.

But I will add my +1 to @gavanderhoorn's suggestion to reset[1] the timer in `controllerStateCB`.  If the watch

[2015-06-09 16:30] simonschmeisser commented on #112
Please see the updated PR #113 , I didn't see a way to check if the timer is running, so I kept the controller_alive_ variable I introduced. I can squash these two commits once we decided which one to take

[2015-06-09 16:44] JeremyZoss commented on #112
+1.  Looks good!

This version will generate messages at 1Hz from Watchdog callback (if not connected to robot), which is the same as the current behavior.  We could set the `oneshot` option in [`createTimer`](http://docs.ros.org/indigo/api/roscpp/html/classros_1_1NodeHandle.html#ac45b36c542acfc90723f7886beb97376) to limit message spam, if desired.

[2015-06-10 16:28] simonschmeisser commented on #112
I changed it to oneShot and increased the severeness of the notification to WARN so that we actually notice that we are no longer spammed/informed

[2015-06-15 19:16] Jmeyer1292 opened #114 "Premature termination of trajectory action"
Hello all,

The ros-industrial client's action server interface performs checks for 'goal completion' upon accepting a new trajectory and as it gets feedback about the robot state. See [this link](https://github.com/ros-industrial/industrial_core/blob/indigo-devel/industrial_robot_client/src/joint_trajectory_action.cpp#L244).

Unfortunately this means that any trajectory starting at the 'end point

[2015-06-16 06:46] VictorLamoine commented on #114
Happened to me already, I thought I was doing something wrong at that time!

[2015-06-16 07:08] gavanderhoorn commented on #114
This seems to be at least counter-intuitive, so I think this is not you (@Jmeyer1292) "using the system wrong". You could say that trajectories should be made up of segments that do not overlap, but that seems like an unreasonable restriction.

Perhaps the nr of points should be used to check whether a trajectory _could be_ completed at the point where `withinGoalConstraints(..)` returns `true`, b

[2015-06-16 07:22] simonschmeisser commented on #112
Now I squashed the fixes into one commit, so it looks better on the commit log

[2015-06-28 15:35] shaun-edwards commented on #114
Address in Indigo by #115

[2015-07-10 09:59] gavanderhoorn commented on #72
As Groovy has long since been EOL-ed, and Hydro is also almost EOL, we'll close this as `wontfix`.

[2015-07-10 09:59] #72 closed, assigned to nobody

[2015-07-10 10:08] gavanderhoorn opened #118 "robot_client: joint_trajectory_streamer doesn't check reply msg from ctrlr in streamingThread"
The state machine in `JointTrajectoryStreamer::streamingThread()` uses `SmplMsgConnection::sendAndReceiveMsg(req, reply, ..)` to send `JointTrajPtMessage` instances to the server program running on the controller, but the returned `reply` msg is never checked for success of the operation ([here](https://github.com/ros-industrial/industrial_core/blob/d18b676f30616bb29b92dede04120b364907f8c7/industr

[2015-07-10 10:10] gavanderhoorn commented on #112
As #113 is merged, can this be closed @simonschmeisser?

[2015-07-10 11:30] #112 closed, assigned to nobody

[2015-07-12 11:00] gavanderhoorn commented on #118
Do we actually care about this? Should the act of transferring the traj pt be considered the 'service request', and not so much the execution of the associated motion? If that is the case, the fields in the `RobotStatus` msgs would indirectly give feedback on the success of the motion (no errors on the `robot_status` topic == success), and there is no need to be able to nack points explicitly.

@s

[2015-07-12 16:11] shaun-edwards commented on #118
The success should by tied to the queuing of the motion, since this is often times the only information the controller provides.  Most controllers queue up motion separate from program execution.  As a result, sending a response, when the motion command is executed/achieved is no easily done.  Should anything fail in the execution of a trajectory, the `RobotStatus` should indicate this.

[2015-07-12 16:15] gavanderhoorn commented on #118
So it wouldn't make much sense to check at service invocation if a traj pt is actually reachable by the manipulator, servers should just queue it and fail whenever the motion is actually attempted?

Depending on buffer size that could mean traj execution fails after quite some time.

Would it perhaps make sense to rename the msgs then? Instead of `JOINT_TRAJ_PT` something like `QUEUE_X` (where `X`

[2015-07-12 16:18] gavanderhoorn commented on #118
This is slightly off-topic for this issue actually, as even if only the queueing itself should be considered the service req, the current client nodes still do not check the response.

[2015-07-28 11:58] shaun-edwards commented on #114
This bug was not fixed by #115 or at least there was another manifestation with a different root cause.  In short, motions with the same begin and end point could return complete immediately if the `in_motion` status (and corresponding robot motion) did not begin immediately.  In other words, there exists a race condition between the setting and checking of the `in_motion` status.  More discussion

[2015-10-30 14:12] VictorLamoine opened #122 "rosparam initial_joint_state not updating tf"
I'm providing an initial robot pose when simulating the Fanuc R1000iA:

[code]

However the initial pose of the robot is not updated and has 0 values on all joints:

[code]

[code]

In RViz, the robot is at the right joint values:
![robot](https://cloud.githubusercontent.com/assets/5566160/11071287/5569248c-87e0-11e5-96c7-a4e5d8c12388.png)

TF seems to be at correct values:

[code]

[2015-10-30 15:10] gavanderhoorn commented on #122
`initial_joint_state` is actually a private parameter of the `industrial_robot_simulator` (from [here](http://wiki.ros.org/industrial_robot_simulator)).

Are you using that node? I'm not sure others would actually do anything with it.

[2015-10-30 16:19] VictorLamoine commented on #122
Yes I'm using the `industrial_robot_simulator`, should I be using something else?!

Others what?

[2015-10-30 16:36] gavanderhoorn commented on #122
no, but you do need to set it as a _private parameter_ on the node itself, ie:

[code]

Or via some other means.

other nodes.

[2015-10-30 17:11] VictorLamoine commented on #122
I tried: ([test.launch](https://github.com/VictorLamoine/initial_joint_state_test/blob/indigo-devel/launch/test.launch#L25-L28))

[code]

But it doesn't even move the robot in RViz!

[2015-10-30 17:49] gavanderhoorn commented on #122
Ok, so I was mistaken. It's not actually a private parameter (I thought I implemented it as such).

Adding it as a normal parameter through a `rosparam` tag works for me though, when just using the MoveIt RViz plugin (both state display and planning use the initial joint state). Your example pkg does show all zeros.

I suspect you're missing some initialisation bits for the move group which cause

[2015-11-03 02:58] shaun-edwards opened #124 "Joint trajectory action doesn't return complete in a timely manner"
The main discussion for this issue can be found here: https://github.com/ros-industrial/industrial_core/commit/cbdf113ec94e0780a1ffdd8f3d0ee3eef263c12c

[2015-11-10 04:16] shaun-edwards commented on #122
@VictorLamoine, has this issue been resolved?  Can this be closed?

[2015-11-10 13:14] VictorLamoine commented on #122
I did not solve the issue because I don't understand half of the discussions Gijs pointed out :dizzy_face:

[2015-11-10 17:34] jrgnicho commented on #122
@VictorLamoine The snippet below works for me:

[code]

[2015-11-10 18:23] VictorLamoine commented on #122
It doesn't work for me;

[code]

I still get the default robot pose and 0 joint values from the `MoveGroup`.

[2015-11-10 18:31] jrgnicho commented on #122
The robot simulator also looks for the **controller_joint_names** ros parameter that contains a list of the join names:

[code]

Of course, you'd list the right joints for your robot.

[2015-11-10 19:56] VictorLamoine commented on #122
This is already provided by [joint_names_m10ia.yaml](https://github.com/ros-industrial/fanuc/blob/indigo-devel/fanuc_m10ia_support/config/joint_names_m10ia.yaml).

[2015-11-10 20:03] jrgnicho commented on #122
Are you using the debian release or the source code?  @shaun-edwards do you know if the change for accepting an initial joint state ever made it to the debian?

[2015-11-10 20:06] VictorLamoine commented on #122
I'm using `industrial_core` source code (`indigo-devel`).
So you can't reproduce the problem on your machine using my example package?

[2015-11-10 20:26] jrgnicho commented on #122
Yes, but it doesn't appear to be related to the industrial_robot_simulator node as rviz shows the robot in the correct initial pose and if you echo /joint_states you see the angle values as set in the initial_joint_states parameter:

[code]

[2015-11-10 21:00] jrgnicho commented on #122
Not sure why the MoveGroup interface does't provide the current robot status.  An alternative way to get the current joint values is by requesting the planning scene as follows:

[code]

Here is the output of this node:

[code]

[2015-11-10 21:17] gavanderhoorn commented on #122
This is why I wrote earlier that I think the initialisation of the MoveGroup is missing some things. As @jrgnicho pointed out, 'everything' is up-to-date wrt the joint states, except the move group.

re: initial joint state support in debs: that was released in v0.4.0 in Indigo.

[2015-12-03 09:47] simonschmeisser commented on #124
closed by #125

[2015-12-07 16:46] shaun-edwards commented on #124
Fixed in PR #125.

[2015-12-07 16:46] #124 closed, assigned to nobody

[2015-12-07 16:53] shaun-edwards opened #127 "Uniform sample filter logging is too verbose"
The logging output of the [industrial_trajectory_filters](https://github.com/ros-industrial/industrial_core/tree/indigo-devel/industrial_trajectory_filters) uniform sample filter is too verbose, resulting in slow performance.

[code]

[2015-12-16 21:58] shaun-edwards opened #129 "Indigo-devel branch fails travis ci"
PR #128 fails build test.  The failure appears to be related to a `roslaunch` test, but the reason is not apparent.  The OSRF build farm does not appear to have this problem, see [here](http://jenkins.ros.org/job/ros-indigo-industrial-core_binarydeb_saucy_amd64/).

[2016-01-11 16:49] gavanderhoorn opened #130 "Typo in name of enum value in JointTrajPt::SpecialSeqValue"
In both `joint_traj_pt.h` ([here](https://github.com/ros-industrial/industrial_core/blob/12a74a1f9f26aea0ee075edaf4c84473bd8e112a/simple_message/include/simple_message/joint_traj_pt.h#L52-L59)) and `joint_traj_pt_full.h` ([here](https://github.com/ros-industrial/industrial_core/blob/12a74a1f9f26aea0ee075edaf4c84473bd8e112a/simple_message/include/simple_message/joint_traj_pt_full.h#L52-L59)) there

[2016-01-18 09:45] simonschmeisser opened #131 "JointTrajectoryDownloader/Streamer provides no feedback"
If there is an error during upload of the trajectory, there is no way for JointTrajectoryDownloader to communicate this error. This happens for me ie when the controller is set to "Manual mode" instead of "automatic". The mitsubishi controller will allow for upload but returns an error once I try to start execution of the trajectory. This does not lead to the controller being in an error state, wh

[2016-01-21 13:46] VictorLamoine opened #132 "Crash with industrial_core source"
I've been using the `industrial_core` source without problem until last week; now the `industrial_robot_simulator` node systematically crashes like this;

[code]

This is using the `indigo-devel` branch and the latest commit. If I remove the `industrial_core` source from my workspace (thus using the binaries provided from the repository) everything works well.

I did not manage to get logs nor bac

[2016-01-21 13:51] gavanderhoorn commented on #132
re: `launch-prefix` with gdb doesn't work: you cannot use that for Python scripts directly like that. In any case, you'd be debugging a `python` instance, not the script itself.

Also: what is the output when running it with `output=screen`?

[2016-01-21 13:52] VictorLamoine commented on #132
I'll try with `pdb`, `output=screen` still produces empty logs.

[2016-01-21 13:52] gavanderhoorn commented on #132
Also:
1. does it crash immediately, or only after some use?
2. make sure `robot_interface_simulator.launch` is actually being used: I've seen launch files directly start the nodes instead of including that file
3. `output=screen` does not go to the logs, that's the point. There is no output in your terminal at all?

[2016-01-21 13:54] gavanderhoorn commented on #132
You can also always use `roslaunch --screen ..` to force all nodes to output to the screen, without having to edit any files.

[2016-01-21 14:00] gavanderhoorn commented on #132
Exit code `127` generally means something like 'command not found'.

Can you check you have `/usr/bin/env` on the machines where it crashes? Also, which version of Python are you running? And what is the output of `/usr/bin/env python` on the crashing machines?

[2016-01-21 14:05] VictorLamoine commented on #132
1. It crashes immediately.
2. I'll check that.
3. The terminal output, not the log files sorry!

[code]

[code]

[code]

[2016-01-21 14:09] gavanderhoorn commented on #132
[code]

Seems to point to some issue.

Seeing all the `MEGAsync` references: are you syncing your workspace to a Windows computer as well by any chance? Could you check the line-endings of the `industrial_robot_simulator` script?

And if you start `robot_interface_simulator.launch` by itself, it also crashes?

[2016-01-21 14:11] VictorLamoine commented on #132
Looks like a nasty character in one of the files!!

[code]

I can reproduce the problem outside MEGAsync so it's probably not the source of the problem (I doubled check that there is no diff in `industrial_core` source).

[2016-01-24 12:36] gavanderhoorn commented on #132
Well, I'm inclined to believe it's something local to your setup(s), as that particular file hasn't seen any changes since 2015-01-16 ([history](https://github.com/ros-industrial/industrial_core/commits/indigo-devel/industrial_robot_simulator/industrial_robot_simulator)).

`0x80` is indeed not in ASCII range, so the error message is correct. Just where that character is coming from then is hard to

[2016-01-24 15:17] gavanderhoorn opened #133 "simple_message: add fields to support recovering from a protocol desync"
Simple Message as it is right now does not provide any means of recovering from a desync. The only really feasible thing is to do a reconnect cycle.

Most implementations will be running over TCP/IP, so they benefit from the built-in checksumming and in-order delivery guarantees of that protocol, but those do not protect against misbehaving SM implementations or other application level hickups. I

[2016-01-24 15:17] gavanderhoorn commented on #133
With some thought we could also use these fields to implement an automatic endianess detection scheme perhaps (#80).

[2016-01-25 01:58] shaun-edwards commented on #133
This seems like a problem that would be common to all comms protocols.  Is there an "accepted" way of handling this?

[2016-01-25 08:08] gavanderhoorn commented on #133
yes: using special fields with standardised contents so deserialisation state machines can look for them :).

[2016-01-25 09:14] gavanderhoorn commented on #133
To clarify / summarise:
- current messages would not be changed
- new messages are required to include two new fields:
  - one at the start of the body (right after the `reply_type`)
  - the other at the end of the body
- contents is pre-defined, and should either be:
  - invariant under endianness changes
  - change significantly under endianness changes

Message layout would then become:

[code]

[2016-01-25 09:16] gavanderhoorn commented on #133
It might also make sense to add a `version` field in the same way. I know the protocol definition explicitly states that ensuring compatibility is up to the (driver) author, but with the expanding use of the protocol (and the 'dialects' that start to pop-up), I believe it to become really necessary to be able to discriminate between versions.

We could introduce something like an _extended header_

[2016-01-25 09:36] gavanderhoorn commented on #131
Just providing my insight here:

Well, with msgs like `JointTrajPt(Full)` being a `SERVICE_REQUEST`, the idea is that server implementations `ACK` or `NACK` the action of _enqueuing points_. In your situation (upload ok, exec not) that doesn't help, but it does allow the server to report either success or failure during the streaming/uploading process. Support for this is currently incomplete in t

[2016-01-25 13:28] simonschmeisser commented on #131
So if we take the case of #118, when the return value would be NACK and it would be checked, you would then publish "ERROR" on the RobotStatus topic?

I agree about the #83 part and will come up with a new PR that follows your comments here and there soon.

[2016-01-25 15:26] gavanderhoorn commented on #131
No. `NACK`-ing the queueing of a trajectory pt should result in the Goal being aborted immediately with the proper error value/msg attached to it. Right now we just have `ACK` and `NACK`, but that could of course be extended.

The `status` topic should just reflect the _current state_ of the robot. If `NACK`ing a pt does not lead to a change in that state, then I don't think there is a reason to c

[2016-01-25 18:07] simonschmeisser commented on #131
I agree with you that `status` should not be (ab)used for that and on what should happen. However I can't see via which mechanism/topic/service you would trigger that? I don't see a communication channel so to say from `JointTrajectoryStreamer/Downloader` back to `JointTrajectoryAction`?

[2016-01-27 12:05] gavanderhoorn commented on #131
yeah, that is the actual issue here. I think we identified that before.

One way to tackle this is by merging the action server(s) into the respective bridging components. That would give them access to state and req/resp pairs whenever needed. The original design deliberately didn't do this. Perhaps @shaun-edwards or @JeremyZoss can give some more detail?

Another approach would indeed be introdu

[2016-02-02 07:26] VictorLamoine commented on #132
My git policy regarding CRLF was set to true (`git config --global core.autocrlf true`), I think this is what caused the problem.

Switching to `git config --global core.autocrlf input`, removing the workspace and configure/compiling agains solves the problem.

I'm not 100% sure because I'm not able to reproduce the bug again by switching to `true` again... :smile:

[2016-02-02 07:26] #132 closed, assigned to nobody

[2016-02-02 08:01] gavanderhoorn commented on #132
Ok, thanks for reporting back.

Good to hear you solved it.

[2016-02-02 08:02] gavanderhoorn commented on #132
And just to clarify: this is a client-side configuration option. The sources in the repository are ok.

[2016-02-08 18:58] 130s commented on #129
@shaun-edwards [said](https://github.com/ros-industrial/industrial_core/pull/135#issuecomment-181443209):

I thought so too and am looking at it now.

[2016-02-16 09:59] gavanderhoorn opened #137 "build status badge is broken"
Needs to be updated to point to the new `build.ros.org` server.

[2016-02-22 03:50] shaun-edwards opened #138 "Revert changes to fix test failures due to catking_tools"
Revert 40fa0da once `catkin_tools`, catkin/catkin_tools#285, has been fixed and released.  See PR #136 for more info.

[2016-03-08 17:13] gavanderhoorn opened #139 "Add support for async streaming ('joint_command')"
It would seem the generic nodes in `industrial_robot_client` do not support the `joint_command` interface as described in section [1.3.3 _Motion Control_](http://wiki.ros.org/Industrial/Industrial_Robot_Driver_Spec#Industrial.2BAC8-Industrial_Robot_Driver_Spec.2BAC8-groovy.Motion_Control) of the [ROS-Industrial Robot Driver Specification](http://wiki.ros.org/Industrial/Industrial_Robot_Driver_Spec

[2016-03-08 17:18] gavanderhoorn commented on #139
I realise this is functionality that is going to be difficult to implement in a cross-platform way, but we're getting more and more into the kinds of application areas that would need such an interface.

With the focus on high-bandwidth, low-latency and network based motion interfaces of mfgs lately, I'm also not sure whether doing this in simple message is the right approach: perhaps lifting the

[2016-03-08 17:25] gavanderhoorn commented on #139
On the simple message side, this would probably need support for `TOPIC` type `JOINT_TRAJ_PT` (or similar) messages. Most drivers assume `SERVICE_REQUEST` at the moment.

[2016-03-09 07:56] MuriloMartins commented on #139
I've actually made changes to the Staubli driver to add support for `TOPIC`. I will soon push them into my `staubli_experimental` fork.

[2016-04-08 07:23] gavanderhoorn opened #141 "Harmonise line-ending style in repository"
A number of files in the repository have Windows style line-endings (`\r\n`), where others use the Unix style (`\n`).

Git is perfectly capable of translating between the two, based on user preference (so Windows gets Windows style, Linux the Unix variant). The files in the repository should be harmonised to Unix style line-endings.

A list of files with Windows style line-endings (as of 5d6b0af9)

[2016-05-10 15:28] #130 closed, assigned to nobody

[2016-06-20 09:28] cschindlbeck opened #145 "robot_interface_simulator.launch doesn't find industrial_robot_simulator node"
I get the following error for

[code]

[2016-06-20 09:30] VictorLamoine commented on #145
You are probably using the package compiled from sources; make sure you have sourced the `setup.bash` file after compiling the package:

[code]

[2016-06-20 09:46] cschindlbeck commented on #145
i have done that, still not working

[2016-06-20 09:51] gavanderhoorn commented on #145
Based on your reply to @VictorLamoine's question, I'm guessing you have a checkout of `industrial_core` in your catkin workspace? Have you built the workspace after cloning the package? Are you using regular `catkin_make`, or `catkin_tools`?

In general when reporting these kinds of problems (which is great, thanks for that), it's good to include as much information as possible. Especially build e

[2016-06-20 09:56] cschindlbeck commented on #145
I use ubuntu 14.04 with ROS-indigo, industrial_core is built from source with catkin_make (no errors)
git branch is indigo-devel with "Already up-to-date"
Folder structure

[code]

i have included

[code]

in the bashrc file

[2016-06-20 10:09] gavanderhoorn commented on #145
Just did the following on a clean Trusty docker container:

[code]

Finally:

[code]

It seems this is working for me.

Can you list the exact steps you take to reproduce what you are seeing?

[2016-06-20 10:12] gavanderhoorn commented on #145
Ignoring the double `source` there, lines in your `.bashrc` are only executed when you start a new instance of `bash` (fi by starting a new terminal, or opening a new tab), or when you explicitly `source ~/.bashrc`. If you didn't do either of those after building your workspace, you could run into the problem you reported.

[2016-06-20 10:16] cschindlbeck commented on #145
I have installed `sudo apt-get install ros-indigo-desktop-full` Might this cause the problem?

I get the following error massage after

[code]

[2016-06-20 10:17] gavanderhoorn commented on #145
Also (but maybe unnecessary): if you can, please just use the released, binary distribution of `industrial_core`: those are known to work, and avoid all kinds of problems wrt dependencies and workspace layouts.

[2016-06-20 10:19] cschindlbeck commented on #145
This fixed the problem:

`chmod +x industrial_robot_simulator`

[2016-06-20 10:19] gavanderhoorn commented on #145
No. It's probably a build thing.

How did you clone the repository?

What is the output of:

[code]

[2016-06-20 10:20] gavanderhoorn commented on #145
The fact that you need to do that points to problems with how you downloaded the sources. It'd be nice if you could tell us _exactly_ what you did.

[2016-06-20 10:22] cschindlbeck commented on #145
if i recall correctly (it has been a while actually)

[code]

Will i run into more of these problems with rights?
Is `sudo git clone` the way to go?

[2016-06-20 10:24] gavanderhoorn commented on #145
Is your `catkin_ws` on a non-Linux fs by any chance? Are you syncing dirs/files using dropbox/megasync/something else?

`git clone ..` should preserve permissions, and the files in the repository contain the proper permissions, so normally this should not be a problem.

[2016-06-20 11:12] cschindlbeck commented on #145
Actually i use a vanilla Ubuntu 14.04.4, no dropbox or anything related to windows.
I deleted the folder and cloned again, now it works, i probably messed up the initial clone process

thanks!

[2016-06-20 11:14] gavanderhoorn commented on #145
Ok. Good to hear it works for you as well now.

[2016-06-20 11:14] #145 closed, assigned to nobody

[2016-06-20 12:14] #137 closed, assigned to nobody

[2016-08-30 14:47] tstoyanov opened #147 "increase max number of joints in simple_message/joint_data.h"
Hi,

I am using the simple_message and industrial_robot_client packages for creating interfaces to the ABB YuMi robot. The packages work rather fine and I have MoveIt and basic ros_control support integrated, over the ros_industrial communication protocol (see https://github.com/rtkg/yumi).

The issue I had to work around though is that currently the maximum payload in a joint message is limited t

[2016-08-31 13:38] BrettHemes-3M opened #148 "industrial_robot_simulator disregards trajetory header timestamps"
As the title states, the `industrial_robot_simulator` seems to ignore completely the header timestamp in joint trajectories sent via the joint_trajectory_action interface.

Ultimately this results in inconsistent behavior between the simulator behavior (expected) hardware `joint_trajectory_controller` behavior (see [ros_industrial/kuka_experimental/#69](https://github.com/ros-industrial/kuka_exper

[2016-08-31 13:48] gavanderhoorn commented on #148
Thanks for reporting this.

[2016-08-31 13:54] shaun-edwards commented on #147
@tstoyanov thanks for the question.  As our support has grown for dual arm-ed manipulators this limitation has become clear.  We created a ROS Enhancement Proposal (REP), [here](https://github.com/ros-industrial/rep/blob/master/rep-I0001.rst) to address this, and we have a prototype implementation that hasn't been released.  As you point out, the robot clients would also have to be updated.

As fo

[2016-08-31 13:58] shaun-edwards commented on #148
@BrettHemes, what is the expected behavior of the [JointTrajectory](http://docs.ros.org/kinetic/api/trajectory_msgs/html/msg/JointTrajectory.html) timestamp?

[2016-08-31 15:02] BrettHemes-3M commented on #148
The trajectory is supposed to start execution at ros time = header.stamp
with each point's time_from_start relative to that.

I am on my phone now but the joint_trajectory_controller wiki page has a
good write-up and a link to the preemption behaviour that relates well and
has pictures.

[2016-08-31 15:05] gavanderhoorn commented on #148
[joint_trajectory_controller - Sending trajectories - Preemption policy](http://wiki.ros.org/joint_trajectory_controller#Preemption_policy) and [Understanding trajectory replacement](http://wiki.ros.org/joint_trajectory_controller/UnderstandingTrajectoryReplacement).

[2016-08-31 15:07] BrettHemes-3M commented on #148
Thanks Gijs :)

[2016-08-31 15:10] gavanderhoorn commented on #148
I'm not sure how much sense it makes to reimplement all that in the Python script that is the `industrial_robot_simulator`, especially since that script is supposed to provide a ROS API-level simulation of the ROS-Industrial driver spec. Not of a `ros_control` compatible `joint_trajectory_controller`.

Also: the `joint_trajectory_controller` in `industrial_robot_client` doesn't support trajectory

[2016-08-31 15:14] gavanderhoorn commented on #139
Adding the `missing-functionality` label as `industrial_robot_client` is supposed to conform to the ROS-I driver spec.

[2016-08-31 15:19] gavanderhoorn commented on #80
I think the only way for this to be realistically implementable is to do auto-detection of endianness based on incoming data in the `industrial_robot_client` nodes. The various drivers being as they are don't have the capability to properly respond to `PING` messages, and even if they do, the issue with the joint states being broadcast immediately remains.

Making the (de)serialisation routines ru

[2016-08-31 17:41] gavanderhoorn commented on #147
Personally, I not sure whether changing that constant in the current version of the `industrial_core` is a good idea. It's been around for a long time, and many, if not all, drivers assume it has that value. It also corresponds often to the maximum nr of joints _per motion group_ for many robot controllers, which allows for some easy passing of arrays between controller functions and message (de)s

[2016-08-31 17:51] gavanderhoorn commented on #147
ros-industrial/rep#13 is a PR that intends to update `REP-I0001` with some changes that are the result of the implementation of the experimental clients.

[2016-09-01 08:49] tstoyanov commented on #147
@shaun-edwards @gavanderhoorn
Thanks for the tips. I already had solved my problem by forking and everything seems to run quite fine for me with 20 joint messages. The reason I raised the issue here was that this solution would not work for future release of our yumi drivers through the ros build farm.
Of course I agree that 20 is just as random a number as 10 and the best solution would be to hav

[2016-09-01 14:00] shaun-edwards commented on #148
@gavanderhoorn, it seems odd to me that such a "simulation" doesn't already exist as part of the `ros_control` package.

[2016-09-01 14:38] shaun-edwards commented on #147
@tstoyanov, the client (ROS) side code is available, but it would require development on the ABB side to handle the new, dynamically sized , simple messages.  Would you be willing to do this development?

[2016-09-01 15:22] gavanderhoorn commented on #148
Dave's boilerplate contains something like it (`sim_hw_interface`), but afaik there is no such thing in `ros_control` proper.

[2016-09-01 15:24] gavanderhoorn commented on #147
I have some experience writing the server side for the IRCv2, so I could assist.

[2016-09-02 16:27] tstoyanov commented on #147
I can give it a try, sure. I have some idea about rapid and I have access to an irc5 for testing. How do I get the ros side code?

[2016-09-02 16:30] gavanderhoorn commented on #147
@shaun-edwards can provide it to you.

If we do this, I'd very much appreciate it if we can first discuss your implementation approach a bit. Just to streamline development and to avoid unnecessary duplication of effort and frustration later on.

[2016-09-02 16:40] tstoyanov commented on #147
I'm certainly in favor of avoiding frustration :)  Drop me a line at
todor.stoyanov@oru.se and we can arrange a call to discuss the details.

[2016-09-05 07:59] gavanderhoorn opened #149 "skipped tests make build status: unstable"
See [build 4](http://build.ros.org/job/Idev__industrial_core__ubuntu_trusty_amd64/4/testReport/) fi, but the general test result trend is also [unstable](http://build.ros.org/job/Idev__industrial_core__ubuntu_trusty_amd64/).

[2016-09-05 08:00] gavanderhoorn commented on #149
@shaun-edwards: I'm assuming you disabled those tests? Is there anything we can fix, so we can re-enable them?

[2016-09-06 01:19] shaun-edwards commented on #147
@JeremyZoss, can you help me out with this while I'm on vacation.  Let's talk in the office tomorrow (Tuesday).

[2016-09-09 18:21] JeremyZoss commented on #147
I just added my `industrial_core` revisions into the [industrial_experimental](https://github.com/ros-industrial/industrial_experimental/tree/indigo-devel) repo.  These revisions provide ROS-side support for [REP-I0001](https://github.com/ros-industrial/rep/blob/master/rep-I0001.rst), which include multi-group support.  It has been tested to work previously on a multi-arm Fanuc workcell, but not m

[2016-10-13 07:31] gavanderhoorn opened #152 "robot_client: joint_traj_streamer does not use special sequence nrs"
In contrast to `JointTrajectoryDownloader` ([here](https://github.com/ros-industrial/industrial_core/blob/98b076fca4bf6f74a2d8c3f197fb608afea68d9f/industrial_robot_client/src/joint_trajectory_downloader.cpp#L53-L54)), the `JointTrajectoryStreamer` class does not actually use the [special sequence numbers](https://github.com/ros-industrial/industrial_core/blob/68719590854e77fb690fd05595290120a1656d

[2016-10-13 07:33] gavanderhoorn commented on #152
Triggered by [Industrial robot client : Are start and end sequence numbers not genenrated by default ?](http://answers.ros.org/question/245525) on ROS Answers.

[2016-10-13 07:33] gavanderhoorn commented on #152
@shaun-edwards: can you perhaps comment on why the streaming and downloading clients do this differently?

[2016-10-13 07:37] gavanderhoorn commented on #152
Note: for now I've classified this as a _bug_, but we can relabel it in case it is actually a feature.

[2016-10-28 11:58] simonschmeisser opened #154 "Controller and industrial-robot-client out of sync for empty trajectories"
If the robot is already at the goal position up until now we were sending a trajectory containing start=goal two times and an execution time of 0s. robot_state_node will therefore decide that we reached the goal immediately. The trajectory Uploader/Streamer will however just now start uploading the trajectory to the controller, do some overhead there and generally take some time. During this time

[2016-10-28 12:03] gavanderhoorn commented on #154
Can you elaborate on this a bit? I'm not sure I understand what you are trying to say.

[2016-10-28 12:28] simonschmeisser commented on #154
So `JointTrajectoryStreamer` has an purely internal state variable `TransferState state_;`, this is set to `this->state_ = TransferStates::STREAMING;` in `send_to_robot`. A worker thread will then stream those trajectory points to the controller (taking up to 0.25s for the first point as the worker thread is "sleeping" (reduces it's rate when idle)).
Meanwhile `RobotStateInterface` checks position

[2016-10-28 12:31] gavanderhoorn commented on #154
That I understood :) (but thanks for the additional info)

I was more curious as to why you specifically mentioned `fanuc_driver`.

But I gather that you use it as a reference to a "regular IRC driver/client". Correct?

[2016-10-28 12:34] simonschmeisser commented on #154
yes sorry, fanuc_driver is the first **streaming** "regular IRC driver" I actually use. Up until now I was always using self-made drivers based on joint_trajectory_downloaders interface

[2016-10-28 13:53] shaun-edwards commented on #154
@simonschmeisser, thanks for reporting this issue.  I definitely needed the additional info, it's been a while since I looked at that particular code.

As I understand it, this bug occurs when a trajectory with the start and goal states being identical (or nearly).  This is a known issue in #131 (submitted by you) with the action interface node, but if I understand correctly, this occurs with the

[2016-10-28 14:04] simonschmeisser commented on #154
Well, there is two issues here:

is indeed #131

but this is more a symptom than a cause, ideally there should be something like EXECUTING flag in status message that allows the server/controller to decide when it's done. I think this was discussed in https://github.com/ros-industrial/rep/pull/12 but never materialized

[2016-10-28 14:11] gavanderhoorn commented on #154
@simonschmeisser wrote:

That REP is specifically targeted at Cartesian motions. I would rather see such a flag added to `STATUS`, but as always, that would have to take bw-compatibility into account.

We have to be careful though: making IRC check those things should not make it impossible to implement something like trajectory replacement (or we should just migrate to `ros_control` wholesale).

[2016-12-07 08:58] gavanderhoorn opened #157 "multiple: CMake targets depend on non-existent targets"
Seen in various Travis builds:

[code]

[2016-12-07 08:59] gavanderhoorn commented on #157
[this](https://travis-ci.org/ros-industrial/industrial_core/jobs/181766807) is one of those builds (search for `error`).

[2016-12-22 22:23] shaun-edwards commented on #149
The tests are disabled because they need roscore to execute.  The "right" thing to do create a "rostest" to run.  Now that I've done this a few times, it should be easy.

[2017-01-14 01:46] Karsten1987 commented on #147
Is there any reason which prevents initializing the number of joints within the init function?
https://github.com/ros-industrial/industrial_core/blob/jade-devel/simple_message/include/simple_message/joint_data.h#L88

It could be defaulted to 10 to remain backwards compatible.

[2017-01-14 08:17] gavanderhoorn commented on #147
Technically I don't think there is a reason, but it wouldn't really address the issue of all the (implicit) assumptions in existing robot drivers and user code we don't know about.

Are you looking to increase the max nr of joints like @tstoyanov?

[2017-01-16 02:26] shaun-edwards commented on #147
@Karsten1987, are you looking to reuse the message or simply compile a ROS-Industrial client that supports more joints?

I originally made it "hard" to change the number of joints because it would cause issues with standard ROS-I serviers on the controllers (as @gavanderhoorn mentioned above).  I assumed if anybody wanted to do anything special, they would fork the library as @tstoyanov did.  As m

[2017-01-16 05:47] shaun-edwards commented on #149
Back to stable: http://build.ros.org/job/Jdev__industrial_core__ubuntu_trusty_amd64/6/

[2017-01-16 10:39] VictorLamoine opened #168 "Cannot build kinetic-devel with catkin_make"
[code]

[2017-01-16 10:40] gavanderhoorn commented on #168
That is interesting. Could you try and figure out which package it is considering a 'non-catkin' package?

[2017-01-16 10:42] gavanderhoorn commented on #168
You can just `touch pkg/CATKIN_IGNORE` for that.

[2017-01-16 10:44] VictorLamoine commented on #168
Looks like it is the metapackage `industrial_core`

[2017-01-16 10:48] gavanderhoorn commented on #168
Probably [this](https://github.com/ros-industrial/industrial_core/blob/ddc74de4a12df1cf53dd137f2f88cbb013339ed9/industrial_core/CMakeLists.txt#L1) line:

[code]

Changed in ddc74de4a12df1cf53dd137f2f88cbb013339ed9 as part of #161.

`catkin_make` expects it to have the `VERSION` arg set to `2.8.3`.

[2017-01-16 10:48] VictorLamoine commented on #168
The problem is because we changed the cmake minimum version. For some reason catkin_make doesn't like that we specify 3.8.12, if I go back to 2.8.3 everything is ok

[2017-01-16 10:48] gavanderhoorn commented on #168
There is no need to set it to `2.8.12` here anyway, so I suggest you change it back.

[2017-01-16 10:49] gavanderhoorn commented on #168
If you can prepare a PR, I'll merge it.

[2017-01-16 10:50] VictorLamoine commented on #168
I did that to be homogeneous in the CMake versions. It's weird that it checks for a specific version. It should be "at least 2.8.3".

I'll make a merge request right now.

[2017-01-16 10:51] gavanderhoorn commented on #168
@VictorLamoine wrote:

`catkin_make` does a content-check of the `CMakeLists.txt` in a metapackage, it does not parse it. There is no CMake involved at this point.

[2017-01-16 10:52] VictorLamoine commented on #168
catkin build does not complain about that.

[2017-01-16 10:53] gavanderhoorn commented on #168
No, because it's a completely different tool, and because it is capable of building mixed workspaces.

[2017-01-16 11:25] #168 closed, assigned to nobody

[2017-01-17 18:41] Karsten1987 commented on #147
@tstoyanov Yes, I have pretty much exactly the same use case.
I was more wondering why the simple_message package has the number of joints hardcoded.

As for now, I can live with forking the simple_message and yumi package and apply my modifications locally. Nevertheless, I am looking forward to the dynamically sized message.

[2017-01-25 10:34] gavanderhoorn commented on #152
@shaun-edwards: 🛎 ?

[2017-01-26 20:30] shaun-edwards commented on #152
I'm not sure why these were specified for or why they weren't used.  I guess specifying the start of a trajectory could be used to "reset" the sequence number, if the server side were tracking it?

@gavanderhoorn, does the fanuc driver use these sequence numbers?

[2017-01-27 06:22] gavanderhoorn commented on #152
@shaun-edwards wrote:

`fanuc_driver` only accepts / recognises `STOP_TRAJECTORY`, but none of the others (on the controller side). The ROS side makes use of the regular clients, so whatever those do is the behaviour of the Fanuc driver at the moment.

I added some (speculative) explanation for why `JointTrajectoryStreamer` does not use those in [Industrial robot client : Are start and end sequenc

[2017-01-27 06:24] gavanderhoorn commented on #152
I think the action item here is to decide whether we feel what the current generic clients do is what should be considered 'according to spec'. If so, then the documentation (at the very least the comments on the [special sequence numbers](https://github.com/ros-industrial/industrial_core/blob/68719590854e77fb690fd05595290120a1656d9a/simple_message/include/simple_message/joint_traj_pt.h#L54-L61))

[2017-02-13 03:54] glebysg opened #172 "Error when building with catkin_make (for kinetic-devel)"
When I run catkin_make I get the following error

[code]

[2017-02-13 04:15] shaun-edwards commented on #172
See if PR #170 fixes things.  I'll merge the PR just as soon as the Travis builds complete (presumably successful).

[2017-02-16 13:52] VictorLamoine opened #173 "Tests fails with catkin build on ROS Kinetic"
Create a workspace:
[code]

Run tests with catkin tools:
[code]

Errors:
[code]

See here for an example build:
https://gitlab.com/InstitutMaupertuis/ros_additive_manufacturing/builds/10605384

[2017-02-16 14:05] VictorLamoine commented on #173
Seems like it is just a build order problem. Message is being generated after trying to compile `robot_status.cpp`.

If I run `catkin build` and then run the tests it goes fine.

[2017-02-16 14:08] gavanderhoorn commented on #173
In any case this should not happen.

Perhaps something changed in Kinetic, or `catkin_tools`. [simple_message/CMakeLists.txt](https://github.com/ros-industrial/industrial_core/blob/ddc74de4a12df1cf53dd137f2f88cbb013339ed9/simple_message/CMakeLists.txt#L102) does declare the dependency on `industrial_msgs`.

[2017-02-16 14:10] VictorLamoine commented on #173
I can't find what's wrong.

[code]

[code]

[2017-03-08 19:49] gavanderhoorn commented on #127
Fixed in #158.

Thanks @mmoerdijk!

[2017-03-08 19:49] #127 closed, assigned to nobody

[2017-03-29 14:44] gavanderhoorn opened #175 "robot_client: JointTrajectoryStreamer does not send TRAJ_STOP if in IDLE state"
As per subject really.

If `JointTrajectoryStreamer::jointTrajectoryCB(..)` receives an empty `JointTrajectory` msg while the streamer state machine is in the `IDLE` state, it does not call `trajectoryStop()`, resulting in no `STOP_TRAJECTORY` message to the trajectory server (see [here](https://github.com/ros-industrial/industrial_core/blob/d18b676f30616bb29b92dede04120b364907f8c7/industrial_robo

[2017-03-29 14:46] gavanderhoorn commented on #175
The question is thus: is this desired behaviour? Can any of the authors (@shaun-edwards, @JeremyZoss) perhaps comment on what the rationale was to ignore empty trajectories in `IDLE`?

Should empty messages not be used to cancel goals?

Or was the "point buffer on server" case not considered when this code was written?

[2017-03-29 15:15] JeremyZoss commented on #175
+1

I think you are correct, that this case (buffered points on controller) was not considered.  It's a bit difficult to review the history, since Google Code is mostly shutdown.  But it looks like `industrial_robot_client` mostly replicated the existing behavior of the original motoman `joint_trajectory_streamer` code.

I think an easy patch would be to:
  - revise the log message (line [89](http

[2017-05-04 20:40] rsinnet commented on #148
@gavanderhoorn @shaun-edwards  Do you know of any attempt to integrate `ros_control` with `ros-industrial` to make trajectory replacement available?

[2017-05-05 09:25] gavanderhoorn commented on #148
I'm not aware of anyone having implemented a simple_message/industrial_robot_client compatible ros_control hw interface, unfortunately.

If you'd be interested to work on one, that would be great. I would recommend we discuss possible approaches first though, as there are some assumptions in `industrial_robot_client` nodes that server implementations (ie: robot drivers running on controllers) depe

[2017-05-05 15:19] rsinnet commented on #148
@gavanderhoorn I want to do an implementation for the FANUC LR Mate 200iD. Any information on assumptions I need to be aware of would be very much appreciated. Thanks!

[2017-05-05 15:24] gavanderhoorn commented on #148
I'm slightly confused: any implementation <del>would</del>should work with all streaming/downloading server implementations, not just for a single robot variant.

As to Fanuc: as long as you don't expect it to improve trajectory execution performance. Fanuc has one of the worst motion interfaces.

Let's not hijack this issue any further. Could you open a new issue where we can discuss a potential

[2017-05-05 16:08] rsinnet opened #176 "Implementation of simple_message_hw_interface"
Currently, ros-industrial does _not_ have a `simple_message_hw_interface` implementation using `ros_control`. I would like to implement such an interface so I can take advantage of `ros_control` features. I'm particularly interested in trajectory replacement. The use case is something like:
1. Send a trajectory starting at time _t_0_ ( < _t_1_ < _t_2_) that finishes at _t_2
2. Send a new trajector

[2017-05-05 17:15] gavanderhoorn commented on #176
Some quick thoughts:

 - a single hw interface will have to combine the `robot_state` and `trajectory_streamer` nodes in a meaningful way (two sockets, non-blocking)
 - the hw interface will fall in the *streaming* driver category (this would make it incompatible with drivers that only support downloading)
 - I'm not sure how we should treat sequence nrs: officially they are to start at `0`, incre

[2017-05-05 17:18] gavanderhoorn commented on #176
this will obviously all come 'for free' once a suitable hw interface has been implemented.

Only real requirement for this is that the hw interface implement a *streaming* approach. Trajectory replacement with a downloading driver could be possible, but would really depend on controller-local implementation details which I don't think we can make any assumptions about in the hw interface.

[2017-05-05 17:22] rsinnet commented on #176
Thanks! This should really help.

[2017-05-05 17:25] gavanderhoorn commented on #176
Know btw that `fanuc_driver` and `fanuc_driver_exp` currently only support `JOINT_TRAJ_PT` (for enqueuing new points) and `JOINT_POSITION` (for reporting joint state). See [Message Structures of the ROS-Industrial Simple Message Protocol](https://github.com/gavanderhoorn/rep-ros-i/blob/retrospective_simple_msg/rep-ixxxx.rst) for some (wip) documentation.

I could easily add support for / switch `f

[2017-05-05 17:27] gavanderhoorn commented on #176
btw: I'm not implying with this bullet that any hw interface implementation should reimplement the network protocol (de)serialisation. If at all possible, reuse what's provided in `simple_message` and `industrial_robot_client`.

[2017-05-05 17:29] rsinnet commented on #176
Thanks, I will try to do a minimal implementation as you suggest.

[2017-05-05 17:31] gavanderhoorn commented on #176
O and if you are targeting Fanuc: please develop against [fanuc_driver_exp](https://github.com/gavanderhoorn/fanuc_driver_exp).

It's going to replace `fanuc_driver`, and should prove much more amenable to the kind of interaction that you are after.

[2017-05-05 17:36] rsinnet commented on #176
Thanks, I've been using [fanuc_driver_exp](https://github.com/gavanderhoorn/fanuc_driver_exp) since it has support for the robot I'm using.

[2017-05-05 17:37] gavanderhoorn commented on #176
Both drivers should be manipulator agnostic, so I'm slightly confused by your statement.

[2017-05-05 17:39] rsinnet commented on #176
Sorry, I confused [fanuc_driver_exp](https://github.com/gavanderhoorn/fanuc_driver_exp) with [fanuc_experimental](https://github.com/ros-industrial/fanuc_experimental). I'll switch over to the [fanuc_driver_exp](https://github.com/gavanderhoorn/fanuc_driver_exp). Thanks.

[2017-06-02 13:23] gavanderhoorn commented on #176
@rsinnet: have you had any success? Not checking up on you, just curious.

[2017-06-03 22:45] rsinnet commented on #176
@gavanderhoorn Thanks for your interest. I haven't been able to obtain consistent performance with the ROS-I implementation. I'm trying to follow trajectories that are specified in terms of desired positions and velocities as closely as possible. I've been speaking regularly with FANUC engineers and management and they have mentioned that streaming joint positions into `PR` registers may not be co

[2017-06-04 05:48] gavanderhoorn commented on #176
Thanks. You've basically confirmed everything I've also already found in the past few years - unfortunately.

re: generating TP programs & look ahead: yes, I've played with that as well - basically turning the streaming driver into a downloading one - but wasn't happy with that either. If only for the fact that it puts an upper limit on the length of trajectories.

re: smoothness vs accuracy: *thi

[2017-06-04 05:54] gavanderhoorn commented on #176
I would be interested in those results. I've spend quite some time on many different approaches but in the end never released / finished (m)any of them because I was not happy with the results. I have two / three more tricks I want to try before giving up and waiting for a better motion interface.

If it's more convenient, you can find my email address in any commit to this repository.

[2017-06-04 06:23] gavanderhoorn commented on #176
And a final comment - seeing as this is a ticket on `industrial_core`: note that the issues you are having are a result of the characteristics / shortcomings of the Fanuc platform, not necessarily of using `simple_message` or the `industrial_robot_client` infrastructure.

Not claiming either of those is perfect, but it's the way received traj pts are communicated to the motion side of the Fanuc pl

[2017-06-30 13:04] gavanderhoorn commented on #176
@rsinnet: curious again: any progress?

[2017-07-07 01:17] jrgnicho opened #177 "tcp server makeConnect() blocks forever"
In the absence of a connection, the `TcpServer::makeConnect()` method blocks the main thread and it won't exit even when  the program is terminated with Ctrl-C.  I can get around this by placing calling makeConnect() from a second thread however this alternative feels unsafe as the an unhandled exception is thrown when the program exits.
I ran my node in ubuntu 16.04 with ros-kinetic.

[2017-07-07 07:08] gavanderhoorn commented on #177
One way to fix this is to put [this line](https://github.com/ros-industrial/industrial_core/blob/12a74a1f9f26aea0ee075edaf4c84473bd8e112a/simple_message/src/socket/tcp_server.cpp#L135) in a `while` with a `select(..)` and only `accept(..)` whenever `select(..)` returns instead of timing out (this has a slight chance of introducing a race-condition, so should be carefully tested).

[2017-07-07 21:38] jrgnicho commented on #177
@gavanderhoorn  I tried using the `select(...)` approach you had suggested but it would error out even when a client had already connected, I followed the manual [here ](http://beej.us/guide/bgnet/output/html/multipage/advanced.html#select) for guidance on the proper use of `select`

What worked for me was to add the following lines around the `accept()` call
[code]

If this solution is desirable

[2017-07-08 22:30] shaun-edwards commented on #177
@jrgnicho, this goes beyond my knowledge of the socket library.  How did you come up with this solution?  Is there a reference somewhere?

Can you provide a test for this?  I'm not entirely sure how you issue a `Ctrl+C` programmatically, but it might be possible.

[2017-07-09 15:43] jrgnicho commented on #177
Here is a [link ](http://www.beej.us/guide/bgnet/output/html/multipage/advanced.html#blocking) that describes how to disable blocking.  However, I decided not to use that approach since it caused some of the unit tests in simple message to [fail](https://github.com/jrgnicho/industrial_core/tree/fix-tcp-server-connect-blocking).
My final solution was to call makeConnect() from a second thread and t

[2017-08-04 15:38] Booooooosh opened #178 "How to create user-defined message"
Apart from JointTrajectory message, I want extra information(Typically booleans and ints) to be sent to the robot controller. Is there any tutorials on how to create a user-defined message? I have a vague idea of what I need to do, like, defining my own message, send it through the socket and decoding on the robot controller side, but not quite sure how to do this.

Many thanks!

[2017-08-05 17:26] shaun-edwards commented on #178
This deserves a more complete answer.  I hope to provide one in a couple of days.  If you need some immediate help, this [wiki](http://wiki.ros.org/simple_message) might be helpful.

[2017-08-05 23:46] Booooooosh commented on #178
Thanks for the fast reply. Actually I have been looking at the Wiki page, but a tutorial would be great! Looking forward to it!

[2017-08-10 10:42] gavanderhoorn commented on #178
Not a complete answer, but perhaps something that can function as an example: see ros-industrial/motoman#93 where I did the same, but for the `motoman` driver specifically. The idea is the same for `industrial_core` though.

[2017-08-11 10:25] gavanderhoorn opened #179 "Add roslaunch testing to pkgs with launch files"
Connects: ros-industrial/ros_industrial_issues#11.

roslaunch test cannot test everything (has difficulty with optional args), but it should be added for files it can test.

[2017-08-17 02:04] Booooooosh commented on #178
@gavanderhoorn Sorry for the delayed reply. Many thanks! I will look into the industrial-core to see whether I can do the same for Fanuc driver.

[2017-10-02 11:41] gavanderhoorn opened #180 "industrial_utils: using 'default joint names' when parameter cannot be found is a bad idea"
In `industrial_utils/param_utils::getJointNames(..)`:

https://github.com/ros-industrial/industrial_core/blob/9a0fe17aa129fe1857dccf54043ab534379eb924/industrial_utils/src/param_utils.cpp#L122-L129

If either `controller_joint_names` cannot be found, or the urdf cannot be parsed for joint names, `getJointNames(..)` returns a set of 'default names'.

This is not a good behaviour: the function shoul

[2017-10-05 21:01] srsidd opened #181 "Joint trajectory action in Industrial Robot Client does not initialize joint names"
I have multiple ABB robots, and they're name spaced in the URDF. For example the links are `robot1/link1`, `robot1/link2`, `robot2/link1` and so on. The moveit configuration for simulation uses the `joint_trajectory_action` node from the `industrial_robot_client` package. However I'm running into issues because of the custom joint names.

Every time I try to execute I get a warning `Controller bot

[2017-10-05 22:57] srsidd commented on #181
Ok more did some debugging. Turns out, `param_utils` calls a method `getListParam()`, where the `joint_names_` gets populated. I don't have an explanation but adding a ros debug statement invoked the function and the `joint_names_` method got populated....

I know this to be true because I would get the following warning and information messages on my terminal _before_ adding the debug statement -

[2017-10-06 07:17] gavanderhoorn commented on #181
I'm a little confused as to what your question is now.

`joint_trajectory_action` is not supposed to initialise any joint names, users are responsible for setting the `controller_joint_names` parameter to the correct value(s).

https://github.com/ros-industrial/industrial_core/blob/9a0fe17aa129fe1857dccf54043ab534379eb924/industrial_utils/src/param_utils.cpp#L122-L129

The fact that `industrial_ut

[2017-10-06 07:18] gavanderhoorn commented on #181
Ah. Perhaps your problem is with having multiple robots and trying to use a single `industrial_robot_simulator` with them? I'm not sure, but I don't believe that is a supported scenario at this point.

[2017-10-06 16:34] srsidd commented on #181
Yeah, my original question was why the `joint_trajectory_action` was not recognizing the joints though the `controller_joint_names` parameter was set.
But later I realized it was because `industrial_utils/param_utils::getJointNames(..)` was not being called. I guess I solved my original issue.
But it'd be nice to know if there's a fix for the multiple robots? Or is the right way of doing this is t

[2017-10-06 16:35] srsidd commented on #181
What's even more weird is that I tried removing the debug statement now and it seems work just fine......

[2017-10-07 16:53] gavanderhoorn commented on #181
I think I'm going to need a MWE to reproduce your issue if you'd like us to help you.

[2017-10-07 16:54] gavanderhoorn commented on #172
I think this was fixed with the merge of #170.

I just compiled all `industrial_core` packages from source on Lunar and did not run into this issue any more.

[2017-10-07 16:54] #172 closed, assigned to nobody

[2017-10-07 16:55] gavanderhoorn commented on #172
@glebysg: please re-open if you feel this has not been addressed.

And thanks for reporting.

[2017-10-07 17:19] gavanderhoorn commented on #173
@VictorLamoine: I'm going to chalk this one up to `catkin_tools` doing weird things sometime and close the issue.

`industrial_msgs_EXPORTED_TARGETS` does actually contain all the necessary targets:
[code]

I agree with you that using `run_tests` directly should result in `catkin` first building all pkgs in the correct order though.

It would seem this is a `catkin_tools` issue and not with this p

[2017-10-07 17:19] #173 closed, assigned to nobody

[2017-10-07 17:22] gavanderhoorn commented on #178
@shaun-edwards: do you see any chance to create that wiki page that you mentioned?

Otherwise I suggest we either close this issue and open a new one that specifically asks for documentation on creating custom messages, or we update the title of this one to reflect the need for documentation

[2017-10-07 17:27] gavanderhoorn commented on #138
@shaun-edwards: https://github.com/catkin/catkin_tools/issues/285 was `closed`, not `merged`. But reading the comments by @ipa-mdl, I have the impression that we can revert 40fa0dae34269deb57b3dc60283310d1c4c4a22a anyway now?

[2017-10-07 17:37] gavanderhoorn commented on #129
Closing this as I don't believe this is a problem any more.

If/when this turns out still to be an issue we can re-open.

[2017-10-07 17:37] #129 closed, assigned to nobody

[2017-10-07 17:40] gavanderhoorn commented on #122
@VictorLamoine: did you ever figure this one out?

I'm going to assume this is a MoveIt issue and close it here.

If you feel that is not correct, please re-open and we can see whether we can fix it here.

[2017-10-07 17:40] #122 closed, assigned to nobody

[2017-10-07 17:41] shaun-edwards commented on #178
After further review, I believe the documentation is there.  A tutorial would help with the specific task of creating a new message type, but it's not high on the priority list.

[2017-10-07 17:44] gavanderhoorn commented on #80
This is not possible without changes to all the robot driver server sides that we have.

All drivers begin transmitting messages as soon as they see a connection on their `robot_state` port, which would mean that we would either have to implement some sort of state machine that connects, checks msgs, disconnects, configures the correct deserialisation routines and then reconnects, or the drivers w

[2017-10-07 17:44] #80 closed, assigned to nobody

[2017-10-07 17:50] gavanderhoorn commented on #178
Could you post a link to the docs you are referring to?

[2017-10-07 17:52] gavanderhoorn commented on #58
Getting the sources for released packages is now (and has been for some time) possible by running:

[code]
Users would need a `deb-src` line in their `/etc/apt/sources.list.d/ros-latest.list` file though.

As late (recent?) as 2014, @tfoote still recommended using `rosinstall_generator` though (ROS Answers question [here](https://answers.ros.org/question/12478)).

@shaun-edwards: do you still feel

[2017-10-07 17:54] shaun-edwards commented on #178
They are linked above and in the API documentation.  There could always be more, but I do not plan to create a specific tutorial.

[2017-10-07 17:54] gavanderhoorn commented on #58
I think exporting the build flags (using the `CFG_EXTRAS` file as suggested in https://github.com/ros-industrial/industrial_core/issues/58#issuecomment-31631250) is something we can (and should) do.

One problem there is that we'd need three sets of flags: default, `bswap` and `float64`.

[2017-10-07 17:58] gavanderhoorn commented on #178
I think I'm looking in the wrong places: do you mean the `simple_message` wiki page? Do the *Code API* pages include any guidance on creating user defined messages?

[2017-10-07 23:44] shaun-edwards commented on #178
There is enough information in the wiki and code API docs that one could create a custom message. Furthermore, there are several examples of "custom" messages in simple message. While not an explicit tutorial, I believe there is enough for developers to extract the info they need.

I agree a tutorial may help, but it is not high on the priority list given the existing sources of info.

[2017-10-08 07:20] VictorLamoine commented on #122
I have never solved this issue, I'll test this again with ROS Kinetic on monday.

[2017-10-08 11:37] gavanderhoorn commented on #178
Then I'll close this issue.

[2017-10-08 11:37] #178 closed, assigned to nobody

[2017-10-08 11:38] gavanderhoorn commented on #178
I think it's not too straightforward for new users to figure out how to add custom messages, as it's quite convoluted at the moment actually.

[2017-10-09 08:16] VictorLamoine commented on #173
I tested again and I cannot reproduce the issue so it's fine that you closed it.

[2017-10-09 09:03] VictorLamoine commented on #122
I have tested with ROS Kinetic and it works, test package is here: https://gitlab.com/InstitutMaupertuis/fanuc_motion

[code]

[code]

[code]

[2017-10-09 10:27] gavanderhoorn commented on #122
Great. Thanks for testing again.

[2017-10-09 14:53] srsidd commented on #181
I'm sorry, what's an MWE?

[2017-10-09 14:57] gavanderhoorn commented on #181
From StackOverflow: [How to create a Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve).

[2017-10-09 18:32] srsidd commented on #181
Ah, I wasn't able to find that easily. Thanks. I will look into making an MWE and post a link here.

On a related note, I noticed that the `industrial_utils/param_utils::getJointNames(..)` looks for a global parameter under `controller_joint_names`. However I need it to be name spaced by robot, so that the controller recognizes only the joints for that robot. What would be the best way to do this?

[2017-10-10 19:34] srsidd commented on #181
Alright got it. I had to create multiple instances of `industrial_robot_simulator::industrial_robot_simulator`, and remap my `controller_joint_names` accordingly.
[code]
I also had to do similar remappings for the `industrial_robot_client::joint_trajectory_action`, and ensure the joint names were specified correctly in all my config files. For eg, I updated my `joint_names.yaml` file to look like

[2017-10-13 17:36] #157 closed, assigned to nobody

[2017-10-24 01:53] srsidd commented on #181
I will close this issue, since I'm unable to reproduce it.

[2017-10-24 01:53] #181 closed, assigned to nobody

[2017-11-17 21:52] willcbaker commented on #181
for those who stumble upon this in the future, if you launch the robot simulator in the correct robot namespace, then you should not be remapping the joint states topic to the global /joint_states topic; instead you should be combining your `/robot1/joint_states`, `/robot2/joint_states`, etc. into the global using the` source_list` parameter of joint_state_publisher.
see: http://wiki.ros.org/joint

[2017-12-19 16:22] pbeeson opened #187 "jointTrajectoryCB can quietly fail without alerting higher level components"
I have a situation when using the motoman driver where the driver may on a rare occassion see the current joints as too far from the first joint values in a trajectory.  Thus, the is_valid() call from industrial_core/joint_trajectory_interface/trajectory_to_msgs() is false.  This makes trajectory_to_msgs() return false, and then JointTrajectoryInterface::jointTrajectoryCB() simplt returns without

[2017-12-20 15:40] Levi-Armstrong commented on #187
I am not aware of a start state check within industrial_core and I checked the is_valid() function and I don't see where it is checking the start state. I do know that the moveit [trajectory_execution_manager](https://github.com/ros-planning/moveit/blob/kinetic-devel/moveit_ros/planning/trajectory_execution_manager/src/trajectory_execution_manager.cpp#L937) does this before sending to the JointTra

[2017-12-20 15:54] pbeeson commented on #187
1) I don't want this to use MoveIt.
2) I'm not looking for a start state check, there already is one for Motoman
2) The is_valid() that checks the start state may be specific to the
Motoman driver (it happens in that driver's joint_state_streamer), but
regardless --  this is a design flaw in the industrial core data flow.  The
joint trajectory action lib server gets a goal and accepts it then
publ

[2017-12-20 19:00] Levi-Armstrong commented on #187
Well it looks like this issue should be created on the Motoman repository since it maintains a modified version industrial_robot_client. Here is where the [check](https://github.com/ros-industrial/motoman/blob/kinetic-devel/motoman_driver/src/joint_trajectory_streamer.cpp#L504) is happening. I am looking into the action lib server not getting notification now.

[2017-12-20 21:29] pbeeson commented on #187
By default the Motoman driver launch files don’t use the modified
industrial robot client. I’m not using that.

On Wed, Dec 20, 2017 at 1:00 PM Levi Armstrong <notifications@github.com>
wrote:

[2017-12-21 03:50] Levi-Armstrong commented on #187
Which launch file are you using and what version (Kinetic, Indigo. etc.)?

If you are using the robot_interface_streaming_xxx.launch then yes the default is as you say, but if you are using robot_multigroup_interface_streaming_xxx.launch the custom version is used.

Regardless I don't believe the issue is with the joint_trajectory_action node, I believe the issue is in the custom joint_trajectory_

[2017-12-21 04:18] pbeeson commented on #187
I'm using the robot_interface_streaming_xxx.launch.  I'm using a branch in a forked repo that incorporates I/O signals to the Motoman controller and has other fixes we needed to get a Motoman working in production.

But as you notice, the Motoman is orthogonal to the issue.  In my initial comment, I alluded to the fact that I thought JointTrajectoryInterface::jointTrajectoryCB()  is the culprit, b

[2017-12-21 12:34] Levi-Armstrong commented on #187
Ah, ok now we are getting somewhere. So the `trajectoryStop();` does what your current fix does which publishes an empty message, which based on your comment does make its way back to the actionlib server.

@shaun-edwards @gavanderhoorn Do you have any thought on the best way to address this issue? We could add the  `trajectoryStop();`  when [trajectory_to_msgs](https://github.com/ros-industrial/i

[2017-12-21 15:32] shaun-edwards commented on #187
@pbeeson is right, this is definitely a design issue.  If I understand correctly, the action eventually reports a timeout, but the desired functionality is for the action to fail immediately.  The work around has always been to make sure this situation doesn't happen.  This begs the question of why you are sending a trajectory with an improper start point (I'm guessing you aren't doing this on pur

[2017-12-21 16:13] pbeeson commented on #187
@shaun-edwards In the 200ms from when I start planning to when the trajectory gets checked deep inside the motoman driver, a single joint has move > 5e-5 radians.  This is happening after 2 months of running in production.  So WHY this is happening (mechanical, etc.) is still unknown, but in debugging, it highlighted this design flaw.

[2017-12-21 16:15] pbeeson commented on #187
I like the service idea, because then we could parameterize the type of failure and provide that in the actionlib feedback.  Because, of this type of error, I'd like to update my first trajectory point and retry, but on any other failure, I want to bomb out of my entire state machine.

[2017-12-21 16:23] shaun-edwards commented on #187
I have seen joints "float" before.  My quick fix has been to increase that tolerance on the robot side.  After all, `0.00286478898 degrees` has always seemed a bit small to me :)

[2017-12-21 16:30] pbeeson commented on #187
I wasn't sure if that 5-e5 was something that Motoplus (on the controller) also assumed, so I didn't want to muck with that constant.

We check this range on our side too, but there are cases where it passes our test then shortly afterwards fails the test below.

I have a hacky fix for now for this particular application.

[2017-12-21 17:24] shaun-edwards commented on #187
5e-5 is in the motoplus application....it needs to be changed on both sides.

[2017-12-21 19:53] shaun-edwards commented on #187
As I see it there are workarounds  to the problem, but the real fix is one of two options:
 - Mirror ROS topic capability to a ROS service (as discussed above)
 - Combine the joint trajectory action with the industrial robot client, or simply support that action interface directly in the industrial robot client.  This is actually my preferred solution.  It's less ROS-like, but it allows for better

[2017-12-24 16:29] Levi-Armstrong commented on #187
@shaun-edwards So it looks like the action interface monitors feedback from the robot on a callback and the following trajectory callback for when the trajectory is finished but there is no way for subsequent ros node to notify the action of a failure. Also we noticed that when the e-stop is pushed the action is not handling this either. On Friday we tested adding a subscriber to the action and a

[2018-02-08 16:26] jdlangs opened #188 "`simple_message` doesn't compile without `LINUXSOCKETS` defined"
This is mainly a problem when a dependent project includes some header files from `simple_message` and the developer doesn't realize he/she has to set this compile flag. You end up getting errors about socket types not defined and the only way to figure out what's going on is to go look in the code.

Should this be changed so that the `LINUXSOCKETS` behavior is default and the other platform build

[2018-02-09 03:06] shaun-edwards commented on #188
It's been a while, but this sounds like an issue I've had before.  It's a lack of CMake ability on my part.  Do you know what change to make?

[2018-02-09 15:29] jdlangs commented on #188
I'm not sure what the best practices around conditional compilation for different platforms are. In this case, since it looks like only other condition is the the `MOTOPLUS` flag, would it make sense just to change `#ifdef LINUXSOCKETS` to `#ifndef MOTOPLUS`?

[2018-02-10 02:25] shaun-edwards commented on #188
That might work.  It wouldn't support more than two options though (like a third socket library).  Still feels like a CMake approach would be better, like exporting flags or something.  I'd accept a PR on this one.  Very few people (or maybe no one) use the headers for MOTOPLUS (shared code was thrown out a long time ago).

[2018-02-10 09:39] gavanderhoorn commented on #188
@shaun-edwards wrote:

exactly, that would be the correct way to do this, although we'd have to make a choice for a particular set of value(s) for the `define`s.

For Catkin packages, this could be done with a `CFG_EXTRAS` file. See [export gcc flags though catkin? CFG_EXTRAS?](https://answers.ros.org/question/173947) on ROS Answers for an example (discusses compiler flags, but it works for other

[2018-03-23 14:43] simonschmeisser opened #191 "Long delay before starting trajectory streaming"
https://github.com/ros-industrial/industrial_core/blob/d14029bdf0b403ef4412ef8a7b16bbb43a0a7627/industrial_robot_client/src/joint_trajectory_streamer.cpp#L170

We wondered about long delays before trajectory streaming starts and there is actually a (up to) 250ms sleep before the sending thread goes into action. Is there any reason for it? I guess the idea was to avoid busy looping but that could a

[2018-03-23 15:23] gavanderhoorn commented on #191
250ms is not really that long (the robot probably takes longer to start moving, even if there was 0 ms sleep time). Are you sure you're not running into ros-industrial/abb#142?

[2018-03-23 15:41] simonschmeisser commented on #191
Well, true, but it adds up in the end. We're currently looking at the old/default fanuc driver and admittedly there are bigger issues but 250ms wasted is already a big issue in itself. A typical cycle of our application right now consists of 8 trajectories so that is 2sec (worst case ...) wasted already.

[2018-03-23 15:43] gavanderhoorn commented on #191
Sure. Lowering the sleep to 10ms or something would be fine.

[2018-03-23 17:56] simonschmeisser commented on #191
It looks like industrial_core is not yet on c++11, am I correct on that? Would it be possible to switch? This would allow a non-polling version based on std::condition_variable

[2018-03-23 18:06] gavanderhoorn commented on #191
No, we're not using C++11 for this package yet.

The minimal patch would be to lower the period. CPU usage increase should be minor (if at all really).

If you really want to, Boost has condition variables as well, so you could use those.

[2018-04-13 14:38] davetcoleman commented on #191
I ran into the no C++11 thing yesterday. It seems to me a simple no-brainer to modify the CMakeList.

[2018-05-05 19:08] #56 closed, assigned to nobody

[2018-05-17 03:10] wwerst commented on #176
@gavanderhoorn I recommend you look at using the HMI option (R553) for streaming points to the robot instead of Karel. I am using HMI to write to `PR[1]@27.19` and get robot position feedback from `POS[0]@27.19`, and it is working well. Then, for the TP program to actually go to the position register repeatedly, it is as simple as:
[code]

I'll put this as an issue in gavanderhoorn/fanuc_driver_ex

[2018-06-25 14:03] gavanderhoorn commented on #41
Closing this as #160 should have addressed this.

[2018-06-25 14:03] #41 closed, assigned to nobody

[2018-07-11 06:53] mathias-luedtke commented on #78
(from `industrial_robot_client`)
[code]
is correct as well, but It looks like the install targets and the exports needs an overhaul in general.

[2018-07-11 08:56] vikaskamboj1085 commented on #179
I am starting with industrial_core/industrial_robot_simulator

[2018-07-11 08:57] Ridhwanluthra commented on #180
hi, is this as straightforward as raising as error and returning?

[2018-07-11 09:25] gavanderhoorn commented on #180
@Ridhwanluthra: yes, it should fail:

a suitable message printed using `ROS_ERROR(..)` and returning `false` would be good.

[2018-07-11 09:44] ipa-nhg commented on #78
solved by: https://github.com/ros-industrial/industrial_core/pull/193

The previous version was also ok (I checked the install workspace), but make sense follow the official documentation.

[2018-07-11 09:55] Ridhwanluthra commented on #180
cool, fixing this as a part of #wrid18

[2018-07-11 10:03] VictorLamoine opened #194 "catkin_lint packages"
[code]

@ipa-nhg if you have some time you could improve the packages by following the guidelines of `catkin_lint`, it's usually very helpful to get clean packages.

[2018-07-11 10:31] Ridhwanluthra commented on #141
could we use `.gitattributes` to generalise this for future users?

[2018-07-11 12:25] machinekoder commented on #108
I start to work on this for #wrid18 now.

[2018-07-11 16:19] gomezc commented on #149
I'll be looking at this for wrid18

[2018-07-29 13:34] gavanderhoorn commented on #149
@gomezc: were you able to make any progress with this?

[2018-07-29 15:53] gomezc commented on #149
I made some progress but was not able to complete it and have been distracted since. If no one else is going to take it, I will still work on it in my spare time, but if someone else is looking at it, I will gladly relinquish. :)

[2018-07-29 16:59] gavanderhoorn commented on #149
Could you at least describe what you did / what you found out? If/when others take this up, that may save them time.

[2018-08-09 13:40] ipa-nhg commented on #179
Solved  by https://github.com/ros-industrial/industrial_core/pull/208
(industrial_robot_simulator test already its unique launch file https://github.com/ros-industrial/industrial_core/blob/kinetic-devel/industrial_robot_simulator/CMakeLists.txt#L16-L19 )

[2018-08-12 06:22] gavanderhoorn commented on #108
Fixed by #197.

[2018-08-12 06:22] #108 closed, assigned to nobody

[2018-08-12 06:24] gavanderhoorn commented on #78
Fixed by #193.

[2018-08-12 06:24] #78 closed, assigned to ipa-nhg

[2018-08-13 09:03] gavanderhoorn commented on #179
Done in #208.

[2018-08-13 09:03] #179 closed, assigned to nobody

[2018-08-22 17:11] shreyasgan opened #210 ""Trajectory splicing not yet implemented, stopping current motion""
Hello,

I am trying to send my Staubli TX90 robot arm a Joint Trajectory command which publishes to /joint_path_command, which the motion_streaming_interface node subscribes to. My code complies and build correctly, but when I run the node, there is an error saying "Trajectory splicing not yet implemented, stopping current motion." I looked online and noticed that:
 // read current state value (sh

[2018-08-22 19:04] gavanderhoorn commented on #210
You also posted this on ROS Answers ([here](https://answers.ros.org/question/301266/trajectory-splicing-error/)). I've responded there.

For the future: please refrain from cross-posting like this. It is not a very nice practice.

[2018-08-22 19:04] #210 closed, assigned to nobody

[2018-10-16 08:08] jorgenfb opened #213 "Melodic support"
Currently the install instructions references melodic packages which are not available quote from http://wiki.ros.org/Industrial/Install:

[code]

[2018-10-16 08:57] gavanderhoorn commented on #213
Duplicate of https://github.com/ros-industrial/ros_industrial_issues/issues/40.

[2018-10-16 08:57] #213 closed, assigned to nobody

[2018-10-16 08:57] gavanderhoorn commented on #213
This is an unfortunate result of using the `ROS_DISTRO` variable on that page.

See the referenced issue for more details.

[2018-11-01 17:02] pbeeson commented on #191
I recall lowering the 250ms period in a previous PR and people didn't like that and didn't merge the PR.  We found 250ms to be prohibitive.  If you have Let's say 20 trajectories in an industrial tasks, that's 5 seconds to the cycle time (worst case).  In my fork, we made it 100ms and see no increase in overall CPU usage but a measurable difference in  tasks that use many trajectories, but think 1

[2018-11-01 17:06] pbeeson commented on #191
Sorry it was PR #174 where it was set to 100ms.  There are other changes here too, but this PR was never accepted.

[2018-11-09 09:00] #191 closed, assigned to nobody

[2018-12-03 12:55] krebsalad opened #218 "JointRelayHandler calibration offsets support?"
I am not sure if this is the right place to ask this.

I want to edit the messages sent to the controller, namely the joint angles. I want to add a certain offset to each joint angle based on the calibration tag in the robots URDF. I am assuming that this is currently not a feature in the driver, at least, I could not find something regarding this in the abb_driver nor in the industrial_robot_clie

[2018-12-03 12:58] gavanderhoorn commented on #218
Context: https://github.com/mikeferguson/robot_calibration/issues/64 (please always include that in the future).

[2018-12-03 13:02] gavanderhoorn commented on #218
Adding support for calibration offsets could be interesting.

That doesn't link me to a specific line number ([this](https://github.com/ros-industrial/industrial_core/blob/kinetic-devel/industrial_robot_client/src/joint_relay_handler.cpp#L98) does) so I assume you are referring to `JointRelayHandler::create_messages(..)`.

There are two sides to this:

 1. messages coming from the driver server
 1

[2018-12-03 13:05] gavanderhoorn commented on #218
It would be nice if we could add this to `industrial_robot_client` itself, as that would add support for this to all robot drivers making use of that.

In this specific case though (the `abb_driver`), it would probably have to be added to `ABB_JointRelayHandler` as well, as that subclasses the regular `JointRelayHandler`. But whether that is really needed will depend on how things will be implemen

[2018-12-03 13:21] krebsalad commented on #218
Yes, I was referring to that function. Thanks for your confirmation.

I will try implementing this in my project. I will report back here in the coming week.

So it would be something like this?

1. After selecting specific joints for publishing
2. Copy pub_joint_pos into two different vectors : case 1 and case 2
3. Somehow get joint offsets
4. Subtract joint offsets from case1 and add joint offse

[2018-12-03 16:07] gavanderhoorn commented on #218
yes (you misunderstood), that is not what I meant.

The function you link to only works in one direction. You need to update the functions for *both* directions of data flow.

yes, that would seem like a good thing to do.

I might even transfer this issue to the `ros-industrial/industrial_core` issue tracker, as it's not something specific to the `abb_driver` implementation.

[2018-12-04 10:28] krebsalad commented on #218
I looked for the other direction based on the nodes called from the abb_driver robot_interface.launch and found the joint_trajectory_downloader. With the other direction do you mean this function? https://github.com/ros-industrial/industrial_core/blob/kinetic-devel/industrial_robot_client/src/joint_trajectory_downloader.cpp#L42

So
1: messages coming from the driver server = in function [create_me

[2018-12-20 20:53] atyshka opened #220 "Melodic support"
Can we get melodic packages released for this (especially the messages)? I'm really getting tired of building so much from source and this really should be available by now. Thanks!

[2018-12-24 03:24] robotlinker commented on #220
Hi ROS-I team,

Any plan for the release of Melodic branch? I am working on a Jetson Xavier (Ubuntu 18.04 +Melodic)  to control a UR5 robot but unable to get industrial packages installed. Thanks!

[2018-12-24 03:27] atyshka commented on #220
@robotlinker all the kinetic code builds from source just fine in melodic by the way.

[2018-12-24 03:29] robotlinker commented on #220
I see, will give a try.

[2019-01-25 16:09] krebsalad commented on #218
After further inspection, I don't think this particular implementation, with regards to joint offsets, would work efficiently for industrial robots. This, because the offset generally differs per pose. I'm not a professional in the ways industrial robots are used. But my understanding is that most users make use of the high repeatability. Whatsmore, vendors develop the robots with that in mind. Th

[2019-02-02 03:32] Levi-Armstrong commented on #220
@gavanderhoorn Do you have any objections of me doing a Kinetic and Melodic Release?

[2019-02-06 13:32] Levi-Armstrong commented on #180
PR #195 has been merged closing.

[2019-02-06 13:32] #180 closed, assigned to nobody

[2019-02-26 21:00] gavanderhoorn commented on #220
Melodic was released in ros/rosdistro#20289.

[2019-02-26 21:00] #220 closed, assigned to nobody

[2019-03-26 17:33] gavanderhoorn opened #224 "pkg version nrs seem to have diverged between release and devel branches"
Not sure what happened, but fi `industrial_msgs` is `0.5.1` on `kinetic-devel`, while it is at `0.7.0` on `kinetic` (it was already at `0.6.0` on that branch before the recent release, so this is not something that was introduced then).

[2019-05-05 23:29] gonzalocasas opened #225 "Incorrect return value on deserializing JointTrajPt"
I am not entirely sure, but this line looks like a bug to me:

https://github.com/ros-industrial/industrial_core/blob/a588028a74a654af3dc06803b9cf6031d3b960e8/simple_message/src/joint_traj_pt.cpp#L111

It will return `true` even if the duration failed to load on the buffer. I don't know if this is for some reason an intended behavior, but it does feel more like a copy&paste bug. In that case, the

[2019-05-06 05:30] gavanderhoorn commented on #225
That does look like it shouldn't be there, as `rtn` is now set to `true` regardless of whether loading succeeded.

---

Edit:

as to the ladder programming: yes, I'm not a fan of that either, but "the fix" would be to remove that line.

Refactoring the conditionals has the potential to introduce new bugs, so should be done separately.

[2019-05-06 05:32] gavanderhoorn commented on #225
Impact of this is rather low btw, as `JointTrajPt::load(..)` is only used when deserialising a `JointTrajPt` from an incoming SimpleMessage connection. `JointTrajPt`s are typically only serialised by `simple_message`, as server implementations are generally written in the OEM's language.

[2019-05-06 09:14] gonzalocasas commented on #225
Fair enough. I'll send a PR for the fix.

[2019-05-20 08:37] rahulmdh opened #227 "Compilation Error while running catkin_make"
[code]

I have looked at the available solutions for this issue but still not able to figure out the problem. I have ran the rosdep command as well to check for dependencies and it says all dependencies have been installed correctly. I am using Kinect version of ROS. Please help. Thanks.

[2019-05-20 08:41] gavanderhoorn commented on #227
@rahulmnitk: did you post this to the correct tracker?

The errors you post appear to occur in packages provided by PAL.

I can't find any packages from this repository in the output you posted.

[2019-05-20 08:42] gavanderhoorn commented on #227
Closing this. We can re-open if/when @rahulmnitk clarifies whether this belongs her.

[2019-05-20 08:42] #227 closed, assigned to nobody

[2019-05-20 08:46] rahulmdh commented on #227
@gavanderhoorn I was just looking at a solution to a similar problem and posted the issue. Didn't realize it belongs to some other package.

[2019-05-24 01:49] gonzalocasas opened #228 "Incorrect logging output"
The `joint_trajectory_streamer` outputs an off-by-one debugging line when sending points to the controller, where it says `"Point[%d of %d] sent to controller"` and it uses 0-based indexing for the first value, but `size` for the second value, e.g. a trajectory of 3 points will print the final point as  `"Point[2 of 3] sent to controller"`, which is misleading.

The bug is [on this line](https://g

[2019-05-24 01:50] gonzalocasas commented on #225
@gavanderhoorn ping ;)

[2019-05-24 14:47] #225 closed, assigned to nobody

[2019-05-24 14:47] #228 closed, assigned to nobody

[2019-06-18 04:12] manujtrehan opened #230 "Joint names do not match"
I am trying to integrate the industrial_core package with my robot moveit config and want to try and run it with ros_descartes. However, I keep getting an error:

`Joint trajectory action failing on invalid joints`

On further investigation, I found out that my, `gh.getGoal()->trajectory.joint_names` is empty. Can someone help me with this please?

[2019-06-18 06:16] gavanderhoorn commented on #230
that would seem to be a problem with who/whatever is generating your trajectory, not in `industrial_robot_client`.

[2019-06-18 06:16] gavanderhoorn commented on #230
For now I'm going to assume this is not an issue with the packages in this repository, so I'm closing this.

Feel free to keep commenting on it.

[2019-06-18 06:16] #230 closed, assigned to nobody

[2019-06-28 16:45] gavanderhoorn commented on #149
It would still be nice if we could get a summary of what progress was made, but seeing as it's already been a year, that'd probably be difficult.

[2019-06-29 15:23] gavanderhoorn commented on #68
I don't believe this is still an issue, so closing.

[2019-06-29 15:23] #68 closed, assigned to nobody

[2019-06-29 15:24] gavanderhoorn commented on #58
I'm closing this as we're not going to distribute the sources.

Exporting the flags used at build time makes more sense.

[2019-06-29 15:24] #58 closed, assigned to nobody

[2019-07-02 09:41] ipa-nhg commented on #194
Fixed: https://github.com/ros-industrial/industrial_core/pull/233

[2019-07-02 18:07] Alexis0301 commented on #138
Sended pull request to manually revert 40fa0da (#234)

[2019-07-04 09:36] gavanderhoorn commented on #138
Closing as #234 was merged.

[2019-07-04 09:36] #138 closed, assigned to Alexis0301

[2019-07-10 12:57] gonzalocasas opened #235 "Scalar velocity calculation: is the ratio correctly calculated?"
*Disclaimer:* I post this as a question/doubt. I have the feeling there's a bug in the code, but I am not totally sure, and it is also possible that I'm misunderstanding something in the pipeline.

I've been trying to move our Staubli robots as fast as they can, and in doing so, I started checking the code of the `industrial_robot_client` more in depth, and I notice that the calculated scalar velo

[2019-07-10 14:09] gavanderhoorn commented on #235
"the joint velocity": where exactly?

"the joint velocity limit": again: where exactly?

URDFs have only a positive limit. Trajectories also only list a single velocity.

---

I may be misunderstanding *you*, but afaict, the math is correct.

Very few robots -- or at least industrial robots -- have asymetric velocity limits (ie: different negative and positive limits). Typically a single limit is

[2019-07-10 14:34] gonzalocasas commented on #235
Of course, you're correct, the code is doing the right thing, so I will close this.

For completeness, to answer your questions:

In MoveIt's trajectories, i.e. specifically the [JointTrajectoryPoint](http://docs.ros.org/melodic/api/trajectory_msgs/html/msg/JointTrajectoryPoint.html).

In the `velocity` attribute of the `<limit>` tag in [Joint in URDF](http://wiki.ros.org/urdf/XML/joint#Elements)

[2019-07-10 14:34] #235 closed, assigned to nobody

[2019-07-11 07:03] gavanderhoorn commented on #235
if you have the limits configured properly it shouldn't limit the velocities, but the ramp up to those velocities will be capped at 1 rad/s^2.

See [this line](https://github.com/ros-planning/moveit/blob/9025c8ed66dbde1b3c29680fd580f06037241589/moveit_core/trajectory_processing/src/iterative_time_parameterization.cpp#L131), where `DEFAULT_VEL_MAX` is set to `1.0` (rad/s) [here](https://github.com/

[2019-07-28 14:30] SunnyKatyara commented on #210
Dear shreyasgan, i am also facing the same issue. I have cartesian planner that gives me out on the topic with sensor_msgs/JointState and in order to command the robot, the type of topic is trajectory_msgs/TrajectoryState. Can you please help me how did you do that?

Thank You

[2019-08-05 10:37] SunnyKatyara opened #237 "Trying to read data from sensor_messages/jointstate topic and reusing it to send command to robot"
Hello every one, since i am working with on robot control, i am have data about joint state in rviz from cartesian plannar, i want to use this data to send commands to robot in gazebo but my code is not working.

1. It is saying segmentation fault.
2. I am unable to use the data from subscriber, i do not know how to do it. SInce, i am calling the jointstate with msg.velocity, msg.position and msg.

[2019-08-05 14:44] gavanderhoorn commented on #237
Please clarify how this is related to the packages in this repository.

Afaict this is a generic request for support with a user-defined script/program.

Unfortunately we cannot provide support for that here on this tracker for off-topic questions.

As such, I'm closing this issue.

If you can clarify how this is an issue with `industrial_core` we could re-open.

Feel free to keep commenting of co

[2019-08-05 14:44] #237 closed, assigned to nobody

[2019-08-05 14:45] gavanderhoorn commented on #237
One note/observation: `sensor_msgs/JointState` is meant for *reporting* joint state, not for *commanding* it.

I would advise you to not misuse `JointState` for commanding, as it violates the semantics of the message type.

[2019-08-21 13:26] PGlaubitzWork opened #238 "TcpClient won't re-establish connection if physical connection is unplugged, then restored"
Observed running against ROS indigo. Ethernet cable between PC and Fanuc controller became disconnected. isConnected() properly reported loss of connection. Upon re-connection makeConnect() could not re-establish connection since socket handle was for lost connection.

[2019-08-21 18:25] PGlaubitzWork commented on #238
Proposed fix in PR #239

[2019-09-17 16:27] #224 closed, assigned to nobody

[2019-11-15 01:22] shenyan0712 opened #245 "build error on industrial_trajectory_filter"
when I built ros-industrial, I got errors.  OS is ubutnu 18.04 and ROS version is melodic. I don't know what happened. The messages are below:

[code]

[2019-11-15 01:38] #245 closed, assigned to nobody

[2019-11-15 08:55] gavanderhoorn commented on #245
I'm guessing this was closed because we already have #244.

[2019-11-21 17:25] ghost commented on #34
I would also like this feature!

[2019-11-25 21:02] gavanderhoorn opened #247 "trajectory relays: velocity calculation final segment incorrect?"
This is triggered by [Moveit executor sends wrong velocity on last waypoint?](https://answers.ros.org/question/338545) on ROS Answers (note that the title is most likely incorrect: it's not MoveIt related).

I seem to remember @simonschmeisser reporting a similar observation, but using `fanuc_driver(_exp)`. I believe he added some commits to their fork of `ros-industrial/fanuc` (these: https://git

[2019-11-26 13:52] simonschmeisser commented on #247
I think this code was mainly written to support velocity in "sparse" trajectories (only start and end point)

But this is a general issue I have been planning to think about for some time now ... how to best translate from velocities in rad/s as given by MoveIt (or its message format) back to % as used by some industrial controllers

[2019-11-26 14:24] gavanderhoorn commented on #247
Code is here:

https://github.com/ros-industrial/industrial_core/blob/a85789b6b33bd0a460c236a6b89c14dbf125e2c0/industrial_robot_client/src/joint_trajectory_interface.cpp#L229-L280

in essence: `perc = target_vel_in_rad / max_joint_vel`, for all joints, then take lowest one.

[2019-11-26 14:25] gavanderhoorn commented on #247
There will always be a discrepancy between how ROS encodes *joint state* in `JointTrajectoryPoint`, while industrial robot controllers expect maximum velocity / duration for the next segment. Those two are completely different.

[2019-11-28 10:03] gavanderhoorn commented on #247
I seem to remember (from our private email conversation, teaches me to not insist on discussing things on the tracker here ;) ) that the same behaviour is seen on trajectories with more than 1 segment (ie: incorrect or too low velocities on the last segment).

The last edit by the OP of the ROS Answers question shows this for the trajectory:

[code]

That `0.1` is most likely the default velocity

[2019-12-10 08:36] kobesdu opened #249 "通过Industrial_trajectory_filters输出的轨迹点，隔一秒会发生跳跃到他本该在的点的一秒以后的点之后的情况"
我现在已经可以用这个工具包输出时间步长相等的规划点，但是打印出来的点有些问题，他每隔大约1s的时间，一个点会跳到差不多这个点1s之后，他离开了他原本应该在的地方，而是跑到了后面的position序列中，但是他的时间戳还是原来的时间戳。
例如 1.05秒是第100个点，1.1秒本该是第101个点，但是结果却是：第101个点会是1.1秒规划的正确数值，但是在1.95秒之后，又会出现一个1.1秒的点和该点的数值。
[我某次规划中获取的点的数据（未使用此包获取的规划结果）](https://img-blog.csdnimg.cn/201912101634421.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2tvYmVzZHU=,size_

[2019-12-10 08:37] kobesdu commented on #249
上面的链接是我生成的数据点的曲线。因为我不知道怎么上传图片。

[2019-12-10 09:16] gavanderhoorn commented on #249
I'm sorry, but I'm going to have to request you post issues here in English.

[2019-12-10 09:16] #249 closed, assigned to nobody

[2019-12-10 09:52] kobesdu commented on #249
sorry ,my English is poor.
now i translate my post to English.
 I can use the Industrial_trajectory_filters to output planning points , but there are some problems with the printed points.

For example, 1.05 second is the 100th point, 1.1 second should be the 101st point, but the result i get is: the 1.1 second  point is 101th point(record the point as A) ,and its positions,velocities,acceleration

[2019-12-11 00:53] kobesdu opened #250 "industrial_trajectory_filters: unexpected values for some resampled points (moveit trajectory)"
For example, 1.05 second is the 100th point, 1.1 second should be the 101st point, but the result i get is: the 1.1 second point is 101th point(record the point as A) ,and its positions,velocities,accelerations,effort values are right.but,the 1.1 second point also appear after the 1.95 second point,and its its positions,velocities,accelerations,effort values is not the same with the A points.
plea

[2019-12-11 01:21] kobesdu commented on #250
moveit planning position
![image](https://user-images.githubusercontent.com/34824903/70583461-bf16c000-1bf8-11ea-9233-c2989f6bcc26.png)

the Industrial_trajectory_filters planning position
![image](https://user-images.githubusercontent.com/34824903/70583450-b8884880-1bf8-11ea-8a80-04a496f57ab8.png)

the picture  X axis  is time_from_start
y axis is positions

[2019-12-11 01:37] kobesdu commented on #250
i can post my code here

[code]

[2019-12-11 01:56] kobesdu commented on #250
the moveit plan Result is saved in this file
[intest.txt](https://github.com/ros-industrial/industrial_core/files/3948028/intest.txt)
the Industrial_trajectory_filters planning plan Result is saved in this file
[out.txt](https://github.com/ros-industrial/industrial_core/files/3948030/out.txt)
my code is this file

[myworkcell_nodetest.txt](https://github.com/ros-industrial/industrial_core/files/39

[2019-12-11 02:57] kobesdu commented on #250
and another thing i want to say is ,when i print the result in the file uniform_sample_filter.cpp   the result  is right .only when it print the industrial_trajectory_filters::MessageAdapte.request.trajectory  ,it is wrong.  so  i think the process of the plan is right,but the trajectory msg is wrong
code is this .
[code]

[2020-02-27 18:18] ishaniis opened #252 "catkin_make not working for ROS"
/usr/include/c++/5/bits/predefined_ops.h:194:17: note:   ‘std::__cxx11::basic_string<char>’ is not derived from ‘const std::set<_Key, _Compare, _Alloc>’
  { return *__it == _M_value; }
                 ^
In file included from /usr/include/boost/config/no_tr1/complex.hpp:21:0,
                 from /usr/include/boost/math/policies/error_handling.hpp:15,
                 from /usr/include/boost/math

[2020-02-27 18:19] ishaniis commented on #252
I don't even want C++ capability for my ROS, I would need help to chalk this out.

[2020-02-27 19:20] gavanderhoorn commented on #252
I'm slightly confused: this is a repository in the ROS-Industrial program. This is not a general ROS support channel.

I don't see any output which mentions packages hosted in this repository, nor any other packages which I recognise as being part of ROS-Industrial.

Did you post this to the wrong issue tracker?

[2020-02-27 19:21] gavanderhoorn commented on #252
I'm going to assume this was posted to the wrong tracker and I'm going to close this.

Feel free to keep commenting and if it makes sense, we can re-open.

[2020-02-27 19:21] #252 closed, assigned to nobody

[2020-03-20 03:55] gtan039 opened #253 "Support for ROS2"
Hi, May I know if there will porting of the  industrial_robot_simulator and industrial_robot_client packages to ROS2 in the near future?

[2020-04-06 12:20] gavanderhoorn commented on #253
There are currently no plans to do a direct port of the packages you mention to ROS 2.

`industrial_robot_client` et al. have a number of design and implementation issues which would be good to tackle instead of doing a straight port.

And with the availability of more and more publically available external motion interfaces in industrial robotics these days, the value of something like `simple_me

[2020-04-27 02:25] CaffeMrDe opened #255 "How can I change the model between real control and fake control?"
I already write the robot real control sucessfully. And how can I run the fake control and real control at the same time?

ros platform: kinetic

[2020-04-27 09:03] gavanderhoorn commented on #255
I'm not sure I completely understand your question.

I'm also wondering whether this would not be better posted at `answers.ros.org`, as it doesn't seem like you're reporting an issue with any of the packages in this repository.

Until you've clarified this, I'm going to assume it's more of a usage/configuration question and close it here.

Feel free to keep commenting on it of course, and if it t

[2020-04-27 09:03] #255 closed, assigned to nobody

[2020-06-02 13:45] TheDelus opened #256 "Noetic release"
Hi, is a release for ros-noetic planned for this package?

[2020-06-02 15:15] gavanderhoorn commented on #256
See my response here: https://github.com/gavanderhoorn/industrial_robot_status_controller/issues/5#issuecomment-637607611.

[2020-06-26 00:29] dignakov commented on #256
Would this https://github.com/orocos/orocos_kinematics_dynamics/issues/218 mean that kdl is no longer blocking?

If that's the case, I'd be happy to make the changes and submit a PR following http://wiki.ros.org/noetic/Migration#Use_Orocos_KDL_and_BFL_rosdep_keys

That way it would be ready to go once MoveIt is released for Noetic (would it need a different branch since it would break the current

[2020-08-11 10:47] jediofgever opened #257 "Enable debug messages of industrial_robot_client"
Hi,
I would like to see all debug messages pushed to /rosout from nodes that are in `industrial_robot_client`
I tried following but I still cannot see any debug messages from nodes of `industrial_robot_client`.

I installed `ros-melodic-industrial-utils-dbgsym` and built the project with debug messages enabled;
`catkin_make -DCMAKE_BUILD_TYPE=Debug install `

finally I add  `output="screen" ` to l

[2020-08-11 11:36] gavanderhoorn commented on #257
For that you'd have to change the log level of the nodes, while they are running. You could use [rqt_logger_level](http://wiki.ros.org/rqt_logger_level).

Alternatively, you could update the configuration even before things are running: [wiki/rosconsole: Configuration](http://wiki.ros.org/rosconsole#Configuration).

This will not change the logger levels. It will only build the binaries with debug

[2020-08-11 11:38] gavanderhoorn commented on #257
As this is not an actual issue with the packages in this repository, I'm going to close it.

Feel free to keep commenting on the issue of course.

[2020-08-11 11:41] #257 closed, assigned to nobody

[2020-08-11 12:53] jediofgever commented on #257
Thanks @gavanderhoorn for your help. Yes not really an issue with the industrial_core itself but I thought I will get a response faster which turns out to be true 🙏

[2020-08-11 12:53] jediofgever commented on #257
Thanks @gavanderhoorn for your help. Yes not really an issue with the industrial_core itself but I thought I will get a response faster which turns out to be true 🙏

[2020-08-11 12:53] jediofgever commented on #257
Thanks @gavanderhoorn for your help. Yes not really an issue with the industrial_core itself but I thought I will get a response faster which turns out to be true 🙏

[2020-08-11 12:53] jediofgever commented on #257
Thanks @gavanderhoorn for your help. Yes not really an issue with the industrial_core itself but I thought I will get a response faster which turns out to be true 🙏

[2020-08-11 12:53] jediofgever commented on #257
Thanks @gavanderhoorn for your help. Yes not really an issue with the industrial_core itself but I thought I will get a response faster which turns out to be true 🙏

[2020-08-11 12:53] jediofgever commented on #257
Thanks @gavanderhoorn for your help. Yes not really an issue with the industrial_core itself but I thought I will get a response faster which turns out to be true 🙏

[2020-08-11 12:53] jediofgever commented on #257
Thanks @gavanderhoorn for your help. Yes not really an issue with the industrial_core itself but I thought I will get a response faster which turns out to be true 🙏

[2020-08-11 12:54] gavanderhoorn commented on #257
Please post these kind of questions on ROS Answers in the future.

I haven't checked, but I'm pretty sure there are already N duplicates of your question (ie: *how to change log level of a node*).

[2020-08-11 12:55] gavanderhoorn commented on #257
Not sure what happened, but your last comment got posted 6 times. I've deleted the duplicates.

[2020-08-11 13:01] jediofgever commented on #257
Yes my bad , I am using GitHub mobile app, must be some issue my connection I guess.
You are right about the availability of answer on changing log level, it should be available in ros answers. Will keep your suggestion in mind for next time.

[2020-08-17 09:51] simonschmeisser commented on #256
@EvilPictureBook yes, please open a PR!

I also noticed that `industrial_trajectory_filters` does not compile due to a API change in MoveIt. We need to add this virtual function:
[code]

[2020-08-24 20:36] seanyen commented on #256
Just wondering, is there any plans to have a dedicate branch for `melodic` or `noetic`? Would it be welcome to consider Windows [port fixes](https://github.com/ros-industrial/industrial_core/pull/251) as it moves to newer releases?

[2020-09-11 07:36] haudren commented on #238
Sorry to do some archaeology here, but I just encountered a similar scenario when running `fanuc_driver` against a robot in an unstable network setting. I would sometimes get the following warnings and errors:
[code]
That would then be followed by a flurry of:
[code]
I tried to enable REUSE_ADDR in the client, but that only resulted in the following:
[code]

However, once I used #239 , the robot c

[2020-09-18 02:17] haudren commented on #238
@gavanderhoorn @Levi-Armstrong : I see you are both mentioned as maintainers for simple_message, could you maybe give your opinion on #239 ?

[2020-09-30 21:59] tylerjw commented on #256
MoveIt is now released for Noetic, so this can go forward if that was what was blocking it.

[2020-11-11 02:56] pbeeson commented on #187
I'm going to close this as it might have already been fixed in a PR, but if not, it's pretty outdated and unlikely to be fixed prior to everyone just moving to ROS2

[2020-11-11 02:56] #187 closed, assigned to nobody

[2020-11-24 17:39] PGlaubitzWork commented on #238
To the best of my knowledge, this change has now been used in our systems to control UR, Yaskawa, and probably ABB robots.

[2021-01-14 12:58] fmessmer commented on #256
there seems to be a `noetic` compatibility pr even: https://github.com/ros-industrial/industrial_core/pull/258
what's the status of the noetic release?
any chance `simple_message` gets released as a partial release?

[2021-01-15 12:50] simonschmeisser commented on #256
I haven't received any feedback to my PR so far unfortunately ... maybe you could get it a review @fmessmer and then @gavanderhoorn would merge it?

[2021-01-15 13:19] fmessmer commented on #256
I'm mainly interested in seeing `simple_message` released....I have no insight into these `industrial-core` packages as I'm only trying to satisfy our noetic dependencies...thus, unfortunately, I don't see myself qualified to review...but `simple_message` doesn't seem to be blocked as it already seems `noetic`-ready...thus, I asked for a partial release...sorry

[2021-01-19 08:41] fmessmer commented on #256
I can confirm that (at least) `simple_message` compiles on noetic from `ros-industrial/industrial_core#kinetic-devel`
:point_right: so a partial release should be possible for `simple_message`

I can also confirm that with #258 **all** packages of `industrial_core` compile on noetic
:point_right: so a full release should be possible after merging #258

[2021-06-09 08:28] muesgit commented on #107
Hey,
this might be a pretty old topic. But im facing the same issues now. Is there any answer on how to establish serial communication to an old abb. I have a IRB4400 with an S4 controller.

[2021-06-09 11:24] gavanderhoorn commented on #107
Nothing has changed here. AFAIK there is no serial transport available.

a serial transport would probably be the way to go.

If you'd like to see whether you can avoid changes on the `industrial_robot_client` side, *perhaps* a serial-to-TCP/IP bridge could be used on the ROS side, with some suitable edits on the RAPID side to use a serial port instead of a socket.

`netcat` should be able to do t

[2021-06-09 13:15] muesgit commented on #107
Thank you for the fast answer. I want to refer to the following post:
[How do I visualize an ABB robot's movements in Rviz](https://answers.ros.org/question/310735/abb-s4c-irb6650-how-do-i-visualize-an-abb-robots-movements-in-rviz/)
I'm a beginner in this topic but as i understand your answer you are talking about that kind of bridge, where he used his ESP8266 as the mentioned bridge. For publishi

[2021-06-09 13:21] gavanderhoorn commented on #107
Unfortunately I have no experience with anything older than IRC5.

If your controller has serial ports available *and* those can be used in RAPID programs, you should be able to change the RAPID code in `abb_driver` to use them instead of the regular TCP sockets.

Connect your controller to your ROS PC using serial cables (you'd need two: one for state, the other for trajectories).

At that point,

[2021-06-09 14:07] muesgit commented on #107
Thank you so far. I will do the following steps
1. How can i send and receive data with RAPID over my SIOs
2. (IF 1. is possible): Connecting the serial Ports to my ROS PC (at the beginning id use my normal PC)
3. Sending Simple Data to the ROS PC and trying to read them with netcat
4. Using netcat to send serial data to TCP
5. Using abb driver ROS nodes to connect to the lets say virtual netcat T

[2021-06-09 18:00] gavanderhoorn commented on #107
thanks. I'd be interested to hear whether this works.

no. I never used the package, nor cloned it.

[2021-06-15 19:33] gavanderhoorn commented on #147
Seeing as `abb_driver` is deprecated in favour of `abb_robot_driver` (which natively supports YuMi and all other ABB robots), I don't see us changing anything in `simple_message` any more.

[2021-06-15 19:33] #147 closed, assigned to nobody

[2021-06-15 19:34] gavanderhoorn commented on #96
We're (I'm) not going to do this.

Closing.

[2021-06-15 19:34] #96 closed, assigned to nobody

[2021-06-15 19:35] gavanderhoorn commented on #76
I believe there are currently better places where this can be done (such as motion planners) instead of here in the trajectory filters.

Closing.

[2021-06-15 19:35] #76 closed, assigned to nobody

[2021-06-15 19:36] gavanderhoorn commented on #81
There are far better packages out there for resampling trajectories, Cartesian and others.

It would be better to use those instead of trying to push our own.

[2021-06-15 19:36] #81 closed, assigned to nobody

[2021-06-15 19:38] gavanderhoorn commented on #46
Since `catkin_tools` works almost the same as `catkin_make_isolated` and there haven't been any build errors reported recently, I'm going to close this.

If it's still a problem, we can revisit this issue, but I doubt we're going to be changing the CMake infrastructure / library layout any more in `industrial_robot_client` and/or `simple_message`.

[2021-06-15 19:38] #46 closed, assigned to nobody

[2021-06-15 19:48] gavanderhoorn commented on #37
Added: [diff](http://wiki.ros.org/action/info/industrial_robot_client?action=diff&rev2=15&rev1=14).

[2021-06-15 19:48] #37 closed, assigned to nobody

[2021-06-21 12:47] gavanderhoorn commented on #175
#260 should fix this.

[2021-06-21 12:47] #175 closed, assigned to nobody

[2021-06-22 16:00] gavanderhoorn commented on #188
Closing as #262 should address this.

[2021-06-22 16:00] #188 closed, assigned to nobody

[2021-06-22 16:01] gavanderhoorn commented on #57
We're not going to add these `.launch` files.

There have been no requests for such files since this ticket was filed (that's 7+ years ago).

[2021-06-22 16:01] #57 closed, assigned to nobody

[2021-06-22 16:05] gavanderhoorn commented on #176
While this would be great, we're not going to implement a `ros_control` compatible `hardware_interface` for `simple_message` and/or `industrial_robot_client` here.

The world has changed, and simple communication protocols are now much more widely available than when `simple_message` was implemented. Maintaining our own implementation of such a protocol incurs quite some maintenance overhead, so i

[2021-06-22 16:05] #176 closed, assigned to nobody

[2021-06-22 19:09] gavanderhoorn commented on #238
Closing as #263 should address this.

[2021-06-22 19:09] #238 closed, assigned to nobody

[2021-06-22 20:48] gavanderhoorn commented on #107
@muesgit: did you get `socat` to work in the end?

[2021-06-23 06:57] muesgit commented on #107
@gavanderhoorn Good morning. I am still working on the connector for the serial port cause mine was a little bit faulty. But I hope soon I can give u more information.

[2021-06-23 06:58] gavanderhoorn opened #265 "trajectory relays may drop points after/while reconnecting"
While reviewing #263, there have been a few cases where the relay dropped points it claimed to "retry at a later time".

From https://github.com/ros-industrial/industrial_core/pull/263#issue-675682823:

this should be checked and fixed.

[2021-06-23 07:05] gavanderhoorn commented on #250
Apologies for the extremely delayed response.

I'm sorry you ran into these issues. The resampling filters are old, and basically haven't been maintained for a few years now.

It's possible that bitrot caused what you've observed (ie: MoveIt has changed, but the filters haven't been updated to keep up).

Without community contributions, this is unlikely to change, as `industrial_core` is in mainte

[2021-06-23 07:05] #250 closed, assigned to nobody

[2021-06-23 13:42] #194 closed, assigned to ipa-nhg

[2021-06-23 17:27] #34 closed, assigned to nobody

[2021-06-23 17:29] gavanderhoorn commented on #133
We're not going to be addressing this in `simple_message` any more.

[2021-06-23 17:29] #133 closed, assigned to nobody

[2021-06-23 17:30] gavanderhoorn commented on #45
This is not an issue for build tools like `catkin_make_isolated`, `catkin_tools` or Colcon.

The ROS buildfarm also doesn't run into any issues with this as it builds everything in isolation.

Prefixing the targets would only help `catkin_make`, but even there recent CMake versions isolate targets to be defined per directory/file.

As such: closing.

[2021-06-23 17:30] #45 closed, assigned to nobody

[2021-06-23 19:43] #141 closed, assigned to nobody

[2021-06-23 20:05] gavanderhoorn commented on #139
https://github.com/ros-industrial/industrial_core/compare/melodic-devel...Njima1572:noetic-point-streaming seems to have done this.

[2021-06-28 12:40] gavanderhoorn commented on #256
Done: https://github.com/ros/rosdistro/pull/30044.

Even though it hasn't been merged yet, I'm going to close this issue, as it's basically just 'formalities' at this point.

[2021-06-28 12:40] #256 closed, assigned to nobody

[2021-06-28 12:41] gavanderhoorn commented on #256
Note: I opted to release without #271 merged. It'll already unblock releases of other packages and as that PR potentially changes behaviour, I thought it'd be good to first get a release out.

[2021-07-05 00:58] karl-exwzd opened #273 "industrial_robot_simulator for ROS Noetic"
Recently, I needed the _industrial_robot_simulator_ node to run the simulation mode of my setup. This is particularly useful when hardware is not available or not desirable, such as in a CI pipeline.

Unfortunately, _industrial_robot_simulator_ is not yet available via apt-get for ROS Noetic (binaries). I tried to compile from source and it works without any issues.

Is there a timeline for ROS No

[2021-07-05 07:03] gavanderhoorn commented on #273
I guess you didn't find #256?

See https://github.com/ros-industrial/industrial_core/issues/256#issuecomment-869650322.

[2021-07-05 07:03] #273 closed, assigned to nobody

[2021-07-08 09:35] muesgit commented on #107
@gavanderhoorn  Hi, I have a short feedback today for you. I managed to use com2 to print a RAPID Programm to the HyperTerminal via print command from the roboter terminal. The bad thing is that it seems that I need "Extended Functions" to even use the commands "open, close etc." for sending serial sending and receiving serial Information.

[2021-07-08 10:19] gavanderhoorn commented on #107
Ah, so you can't use your serial port(s) for any data transfer from/in RAPID programs?

That's going to be a requirement in order to be able to use something like `abb_driver` I'm afraid.

[2021-07-08 11:11] muesgit commented on #107
Well in principle it is working, since we could use the print button from the s4 to send data to the hyper terminal, but i think for "real" communication i need to order these so called extended functions from abb. I contacted them and lets see if they provide me the disk.

[2021-07-08 11:21] gavanderhoorn commented on #107
yes, that's what I was referring to.

The HW works, but you can't write to it nor read from it without some additional RAPID infrastructure.

[2021-07-13 14:13] muesgit commented on #107
@gavanderhoorn
I have a positive short feedback. With the help of ABB Technical Support I was able to find out that i already had the optional disk in my bootdisks. I was now able to send a message through my 3 serial ports. :)))

[2021-07-13 14:19] gavanderhoorn commented on #107
Nice. Good to hear.

I'd suggest though we now move the discussion to [abb_driver](https://github.com/ros-industrial/abb_driver/discussions) as I believe you're going to use the work-around I described in https://github.com/ros-industrial/industrial_core/issues/107#issuecomment-857689295. That's different from implementing a proper serial transport for `simple_message`.

[2021-07-14 15:14] muesgit commented on #107
I wonder why not using rosserial. Should be possoble to install rosserial_python on a raspi and communicate via a rosserial enabled pc instead of using netcat to translate the protocoll to tcp?

[2021-07-14 15:19] gavanderhoorn commented on #107
I'm not sure I understand what you're suggesting.

SimpleMessage does not use the `rosserial` protocol. Nor is `rosserial` compatible with SimpleMessage.

The purpose of `netcat` is to change the *medium* used, as the protocol would still be SimpleMessage. It would just be SimpleMessage-over-serial coming out of your ABB controller. The standard nodes in `industrial_robot_client` are only capable

[2021-07-14 15:28] muesgit commented on #107
I understand... I was suggesting this option as an alternative to send serial information from the pc to the robot and back.
But how you say this might not be a smart way, since i would loose compatibility to the robot driver.

[2021-07-14 15:40] gavanderhoorn commented on #107
Just to clarify: `rosserial` comes with a custom protocol. It's not a generic serial port interfacing library. Code running on "the other side" (ie: not ROS nodes) must "speak" the `rosserial` protocol. That doesn't help with `abb_driver`, as it doesn't do that.

You could of course *write* a version of `abb_driver` which does use the `rosserial` protocol, and then you could use one of the `rosser

[2021-07-14 21:16] akashjinandra opened #274 "Build issue breaking motoman/fanuc/internal drivers"
Hello, I'm running Ubuntu 18.04 with ROS Melodic, I just starting seeing an issue where the simple message/industrial core is causing issues in all of my motoman, fanuc and internal arm(ros industrial driver based) drivers.

Here is my output:

[code]

Sorry for the big file dump, I just am not sure what I could do to fix this. I tried getting ros industrial from source on melodic devel and it sti

[2021-07-15 07:53] gavanderhoorn commented on #274
This is caused by #262.

This requires some updates in dependents. See https://github.com/ros-industrial/fanuc/pull/324 for an example PR. Specifically https://github.com/ros-industrial/fanuc/pull/324/commits/37a13af73cfece4c52a26e1b8ff6a7b7bb68805e.

We might actually revert that PR and reintroduce it in a `noetic-devel` branch.

---

Edit: and the `fanuc` builds have been fixed since https://git

[2021-07-15 07:55] gavanderhoorn commented on #274
The reason we can't just do something like `add_definitions(..)` in an extras file is because `simple_message` and `industrial_core` basically export three different libraries, with two variants each (swap, non-swap).

So dependents must use the correct set of defines, otherwise they would be out-of-sync with whatever version of `simple_message` and `industrial_robot_client` they are linking again

[2021-07-15 13:53] gavanderhoorn commented on #274
Note: I've submitted https://github.com/ros/rosdistro/pull/30228, which reverts the last release on Melodic.

The buildfarm will build the old version of the packages and everyone depending on the binaries will be unbroken.

Then we'll revert #262 in `melodic-devel`, re-release `melodic` without #262.

I hate branching for different ROS versions, but in this case it doesn't seem like we have a cho

[2021-07-15 14:48] gavanderhoorn commented on #274
Ok, instead of reverting everything, I've added some bw-compatibility to the changes that were introduced in #262, which should make things build again on systems without something like https://github.com/ros-industrial/fanuc/pull/324.

@akashjinandra: could you check whether #275 fixes your builds?

It would still be better to migrate to use `simple_message_DEFINITIONS` et al., but we shouldn't b

[2021-07-15 15:17] #274 closed, assigned to nobody

[2021-08-18 02:51] dbdxnuliba opened #277 "is "dv = current_vel+last_vel " should be modified to "dv = current_vel - last_vel" in industrial_robot_simulator package file"
in industrial_robot_simulator package the pyhon file

[code]

is "dv =  current_vel+last_vel " should be modified to "dv = current_vel - last_vel"

[2021-08-19 07:50] gavanderhoorn commented on #277
From a quick look it looks like you could be right.

Could you submit a PR?

[2021-08-19 08:07] gavanderhoorn commented on #107
@muesgit: have you been able to get things to work?

[2021-08-19 09:54] muesgit commented on #107
Hey, actually not but up to now i was able a to establish a simple connection between the S4 controller and my pc from RS232 to TCP and vice versa via Arduino as a middleman (Arduino + Ethernet Shield + RS232/TTL Board).
On the PC side i use `netcat` how you suggested. On the S4 Side i wrote a simple Write And Read `.PRG`
I can send and receive messages. The next step would be to test the `simple_

[2021-08-19 10:09] gavanderhoorn commented on #107
Note that you'd still need to update `abb_driver`'s RAPID to not use sockets, but serial ports.

[2021-08-23 13:13] muesgit commented on #107
Ive checked the Rapid Codes from the `abb_driver ` and i seems like i have to rewrite some functions.
The following statements do not exist in RobotWare 2.1 (I put some of my thoughts in brackets on how to redefine them):

rawbytes (is there another way to pack data, for example in a buffer? maybe an array of data)
IPers (if pers var != 'original definition'.... then...)
WaitTestAndSet (if bool va

[2021-08-27 09:13] dbdxnuliba commented on #277
but     the result about    "delta_x = current_joint+last_joint"  is better than  "delta_x = current_joint-last_joint"
may be your raw code is right

[2021-08-30 10:18] muesgit commented on #107
Its pretty hard to get the Multitasking option atm as it also takes too much time.
I think the easier way for me would be to use rosserial and to simply transmit a trajectory from ROS to the S4 Controller.
Is there a way to publish the trajectory from ROS by using the ABB driver to my Arduino node?
From there i would redirect it to the S4 controller to load and execute the points in a loop.
At the

[2021-08-30 10:21] gavanderhoorn commented on #107
This starts to get off-topic too much for this issue.

I'm willing to discuss alternative approaches, but please use a more appropriate venue for it. Seeing as you're working with ABBs, I'd suggest the issue tracker of `ros-industrial/abb_driver`.

[2021-08-30 10:25] muesgit commented on #107
Thats true, sorry for that. I will open a new topic there and describe the problem.

The new topic is here now:
[ABB_Serial](https://github.com/ros-industrial/abb_driver/issues/14)

[2021-12-16 09:52] giordy-sudo opened #278 "- Portability on ROS1 Noetic."
Hello, I have some issues when I compile (catkin build) these packages :
- **industrial_robot_client** ;
- **industrial_utils.**

In particular errors are :
- industrial_robot_client :

![Industrial_robot_client_1](https://user-images.githubusercontent.com/66011580/146348002-7d3ba5a5-6524-4598-b153-dbf53d67ceae.png)
![Industrial_robot_client_2](https://user-images.githubusercontent.com/66011580/14

[2021-12-16 10:09] gavanderhoorn commented on #278
You appear to use a fork of `industrial_core`.

All `industrial_core` packages have been released for ROS Noetic, and CI runs regularly (see [here](https://github.com/ros-industrial/industrial_core/actions/runs/1586875438) for the latest run on Ubuntu Focal).

It's likely the fork is outdated.

[2021-12-16 10:09] gavanderhoorn commented on #278
Closing as this is not an issue with the packages in this repository.

[2021-12-16 10:09] #278 closed, assigned to nobody

[2021-12-16 10:10] gavanderhoorn commented on #278
PS: and please, do not post screenshots of terminals.

It's all text, so copy-paste the errors as text into your github issue.

Do make sure to use [fenced codeblocks](https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks) though.

[2021-12-16 10:44] giordy-sudo commented on #278
Hello, thanks. Also withe the modifications that you sent me I still have the same errors.
I apply these changes : https://github.com/ros-industrial/industrial_core/commit/ea3d805e1271550be312409d6474177e67796e15.

[2021-12-16 11:06] gavanderhoorn commented on #278
I'm not sure I understand.

I have not sent you any modifications.

`cherry-pick`ing a single commit will not solve the problem.

[2021-12-16 11:08] giordy-sudo commented on #278
Ok sorry can you explain in a simple way how can I solve my problem ?
Thanks.

[2021-12-16 11:10] gavanderhoorn commented on #278
I would suggest to ask the maintainers of the fork you are trying to use.

I don't know what their motivation for forking was, and I don't know what changes they've made to the code.

At a high level, you'd have to merge the differences between their fork and upstream (ie: this repository).

[2021-12-16 11:17] giordy-sudo commented on #278
So who are the maintainers of the fork I'm trying to use ?

[2021-12-16 11:22] gavanderhoorn commented on #278
I have no idea.

Wouldn't you be the one who knows what he's `git clone`-ing?

[2022-02-12 02:26] pzurk opened #279 "changing registers"
Hi, i'm working on app using fanuc robot and i'm totally beginner.  I want fanuc to execute simple moves, while it get a message from pc. I thought to write tp program with some condition of having some register value. For example, the instructions will be carried out only if R1=1.  So I just want  to change fanuc register from the level of C++ code on PC. I've done program which is reading regist

[2022-03-21 16:34] caimingxue opened #280 "how to connect multi robotic arms via the robot_tcp address using industrial robot client? I dont know how to send different robot_tcp address. Thanks"

[2022-03-21 17:08] gavanderhoorn commented on #280
It's unclear what you're asking.

The `.launch` files part of this repository show how to use the `robot_ip` parameter to configure the IP address for the `industrial_robot_client` nodes to connect to:

https://github.com/ros-industrial/industrial_core/blob/ea3d805e1271550be312409d6474177e67796e15/industrial_robot_client/launch/robot_interface_streaming.launch#L19

[2022-03-21 17:09] gavanderhoorn commented on #280
As this doesn't seem to be an issue with this repository, I'm going to close it.

[2022-03-21 17:09] #280 closed, assigned to nobody

[2022-03-31 06:02] xzkeee commented on #253
So how do I control an industrial robot with ros2? Do I have to write a driver without industrial_robot_client, directly connect to ros2_control ? What about those existing drivers, such as abb, fanuc drivers, how do they control by ros2? Or simply they can't, I have to stick to ros1? Thanks!

[2022-04-26 02:46] moliqingwa opened #281 "TriState.msg TRUE & FALSE duplicated error"
Here are the error info:

/Users/zhenwang/catkin_ws/devel/.private/industrial_msgs/include/industrial_msgs/TriState.h:75:5: error: expected identifier
    TRUE = 1,
    ^
/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include/mach/boolean.h:81:17: note: expanded from macro 'TRUE'
#define TRUE    1
                ^

[2022-04-26 03:25] moliqingwa commented on #281
Ignore, seems the gencpp[!https://github.com/ros/gencpp/blob/kinetic-devel/scripts/msg.h.template] issue

[2022-04-26 03:25] #281 closed, assigned to nobody

[2022-04-28 13:15] caimingxue opened #282 "Does the industrial core support the real-time trajectory."
That is to say, I use the moveit servo to generate real-time joint trajectory ( every trajectory only contains one point), the industrial core can receive this kind of joint trajectory and send to the real robot according to simple message protocol?

[2022-04-28 13:20] #282 closed, assigned to nobody

[2022-04-29 16:26] caimingxue opened #284 "How to send real-time joint trajectory to the real robot by robot_industrial client. For example, using moveit servo to generate trajectory, how to guarantee the robot receive the newest joint trajectory."

[2022-04-29 16:31] caimingxue commented on #284
closed

[2022-04-29 16:31] #284 closed, assigned to nobody